# Assignment 1

# 1.Headers of wikepedia

In [1]:
#Importing the necessary libraries
from bs4 import BeautifulSoup
import requests

# Headers of wikipedia

url = requests.get('https://en.wikipedia.org/wiki/Main_Page')
soup = BeautifulSoup(url.text, 'html.parser')
for heading in soup.find_all(["h1", "h2", "h3"]):
    print(heading.name + ' ' + heading.text.strip())

h1 Main Page
h2 From today's featured article
h2 Did you know ...
h2 In the news
h2 On this day
h2 From today's featured list
h2 Today's featured picture
h2 Other areas of Wikipedia
h2 Wikipedia's sister projects
h2 Wikipedia languages
h2 Navigation menu
h3 Personal tools
h3 Namespaces
h3 Variants
h3 Views
h3 More
h3 Search
h3 Navigation
h3 Contribute
h3 Tools
h3 Print/export
h3 In other projects
h3 Languages

# 2.IMDB TOP 100 MOVIES

In [2]:
#Sending access request to the web page
page2=requests.get("https://www.imdb.com/search/title/?count=100&groups=top_1000&sort=user_rating")

In [3]:
#Instantiating
soup2=BeautifulSoup(page2.content,'html.parser')

In [4]:
title=soup2.findAll('div',class_="lister-item mode-advanced")
first=title[0]

In [5]:
first

<div class="lister-item mode-advanced">
<div class="lister-top-right">
<div class="ribbonize" data-caller="filmosearch" data-tconst="tt0111161"></div>
</div>
<div class="lister-item-image float-left">
<a href="/title/tt0111161/"> <img alt="The Shawshank Redemption" class="loadlate" data-tconst="tt0111161" height="98" loadlate="https://m.media-amazon.com/images/M/MV5BMDFkYTc0MGEtZmNhMC00ZDIzLWFmNTEtODM1ZmRlYWMwMWFmXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_UX67_CR0,0,67,98_AL_.jpg" src="https://m.media-amazon.com/images/S/sash/4FyxwxECzL-U1J8.png" width="67"/>
</a> </div>
<div class="lister-item-content">
<h3 class="lister-item-header">
<span class="lister-item-index unbold text-primary">1.</span>
<a href="/title/tt0111161/">The Shawshank Redemption</a>
<span class="lister-item-year text-muted unbold">(1994)</span>
</h3>
<p class="text-muted">
<span class="certificate">A</span>
<span class="ghost">|</span>
<span class="runtime">142 min</span>
<span class="ghost">|</span>
<span class="genre">
Drama            </span>
</p>
<div class="ratings-bar">
<div class="inline-block ratings-imdb-rating" data-value="9.3" name="ir">
<span class="global-sprite rating-star imdb-rating"></span>
<strong>9.3</strong>
</div>
<div class="inline-block ratings-user-rating">
<span class="userRatingValue" data-tconst="tt0111161" id="urv_tt0111161">
<span class="global-sprite rating-star no-rating"></span>
<span class="rate" data-no-rating="Rate this" data-value="0" name="ur">Rate this</span>
</span>
<div class="starBarWidget" id="sb_tt0111161">
<div class="rating rating-list" data-auth="" data-ga-identifier="" data-starbar-class="rating-list" data-user="" id="tt0111161|imdb|9.3|9.3|adv_li_tt||advsearch|title" itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating" title="Users rated this 9.3/10 (2,336,077 votes) - click stars to rate">
<meta content="9.3" itemprop="ratingValue"/>
<meta content="10" itemprop="bestRating"/>
<meta content="2336077" itemprop="ratingCount"/>
<span class="rating-bg"> </span>
<span class="rating-imdb" style="width: 130.2px"> </span>
<span class="rating-stars">
<a href="/register/login?why=vote" rel="nofollow" title="Register or login to rate this title"><span>1</span></a>
<a href="/register/login?why=vote" rel="nofollow" title="Register or login to rate this title"><span>2</span></a>
<a href="/register/login?why=vote" rel="nofollow" title="Register or login to rate this title"><span>3</span></a>
<a href="/register/login?why=vote" rel="nofollow" title="Register or login to rate this title"><span>4</span></a>
<a href="/register/login?why=vote" rel="nofollow" title="Register or login to rate this title"><span>5</span></a>
<a href="/register/login?why=vote" rel="nofollow" title="Register or login to rate this title"><span>6</span></a>
<a href="/register/login?why=vote" rel="nofollow" title="Register or login to rate this title"><span>7</span></a>
<a href="/register/login?why=vote" rel="nofollow" title="Register or login to rate this title"><span>8</span></a>
<a href="/register/login?why=vote" rel="nofollow" title="Register or login to rate this title"><span>9</span></a>
<a href="/register/login?why=vote" rel="nofollow" title="Register or login to rate this title"><span>10</span></a>
</span>
<span class="rating-rating"><span class="value">9.3</span><span class="grey">/</span><span class="grey">10</span></span>
<span class="rating-cancel"><a href="/title/tt0111161/vote?v=X;k=" rel="nofollow" title="Delete"><span>X</span></a></span>
 </div>
</div>
</div>
<div class="inline-block ratings-metascore">
<span class="metascore favorable">80        </span>
        Metascore
            </div>
</div>
<p class="text-muted">
    Two imprisoned men bond over a number of years, finding solace and eventual redemption through acts of common decency.</p>
<p class="">
    Director:
<a href="/name/nm0001104/">Frank Darabont</a>
<span class="ghost">|</span>
    Stars:
<a href="/name/nm0000209/">Tim Robbins</a>,
<a href="/name/nm0000151/">Morgan Freeman</a>,
<a href="/name/nm0348409/">Bob Gunton</a>,
<a href="/name/nm0006669/">William Sadler</a>
</p>
<p class="sort-num_votes-visible">
<span class="text-muted">Votes:</span>
<span data-value="2336077" name="nv">2,336,077</span>
<span class="ghost">|</span> <span class="text-muted">Gross:</span>
<span data-value="28,341,469" name="nv">$28.34M</span>
</p>
</div>
</div>

In [6]:
#Position of the book
first.find('span',class_="lister-item-index unbold text-primary").text

'1.'

In [7]:
#Name of the movie
first.h3.a.text

'The Shawshank Redemption'

In [8]:
#Year the movie was released
first.find('span',class_="lister-item-year text-muted unbold").text

'(1994)'

In [9]:
#Imdb rating
first.find('div',class_="inline-block ratings-imdb-rating")['data-value']

'9.3'

In [10]:
#Lets create empty list and append all the data gained
POS=[]
Movie_Title=[]
Year_Of_Release=[]
IMDB_Rating=[]
for i in title:
    POS.append(i.find('span',class_="lister-item-index unbold text-primary").text)
    Movie_Title.append(i.h3.a.text)
    Year_Of_Release.append(i.find('span',class_="lister-item-year text-muted unbold").text)
    IMDB_Rating.append(i.find('div',class_="inline-block ratings-imdb-rating")['data-value'])

In [11]:
#Creating the list of the lists
data=list(zip(POS,Movie_Title,Year_Of_Release,IMDB_Rating))

In [12]:
#Import pandas
import pandas as pd
import numpy as np
df=pd.DataFrame(data,columns=["POS","Name Of the Movie","Year of Release ","IMDB Rating"])

In [13]:
#Lets st index as the position of the book
df.set_index("POS")

             Name Of the Movie Year of Release  IMDB Rating
POS
1.    The Shawshank Redemption           (1994)         9.3
2.               The Godfather           (1972)         9.2
3.             The Dark Knight           (2008)           9
4.      The Godfather: Part II           (1974)           9
5.                12 Angry Men           (1957)           9
...                        ...              ...         ...
96.                     Amélie           (2001)         8.3
97.                     Snatch           (2000)         8.3
98.        Requiem for a Dream           (2000)         8.3
99.            American Beauty           (1999)         8.3
100.         Good Will Hunting           (1997)         8.3

[100 rows x 3 columns]

In [14]:
#Importing df to csv
df.to_csv("IMDB TOP 100 Movies")

#  3.IMDB TOP 100  INDIAN MOVIES

In [15]:
#Lets send request to the respective webpage
page3=requests.get("https://www.imdb.com/list/ls056092300/?sort=user_rating,desc&st_dt=&mode=detail&page=1")

In [16]:
#Instantiating
soup3=BeautifulSoup(page3.content,'html.parser')

In [17]:
title=soup3.findAll('div',class_="lister-item mode-detail")
first=title[0]

In [18]:
first

<div class="lister-item mode-detail">
<div class="lister-item-image ribbonize" data-tconst="tt0086231">
<a href="/title/tt0086231/"> <img alt="Sagara Sangamam" class="loadlate" data-tconst="tt0086231" height="209" loadlate="https://m.media-amazon.com/images/M/MV5BNmJhYzQ0MjUtZmM4OS00ZmI4LTgxZjctNjE4Y2MyNjc3NzM2XkEyXkFqcGdeQXVyODEzOTQwNTY@._V1_UY209_CR4,0,140,209_AL_.jpg" src="https://m.media-amazon.com/images/S/sash/4FyxwxECzL-U1J8.png" width="140"/>
</a> </div>
<div class="lister-item-content">
<h3 class="lister-item-header">
<span class="lister-item-index unbold text-primary">1.</span>
<a href="/title/tt0086231/">Sagara Sangamam</a>
<span class="lister-item-year text-muted unbold">(1983)</span>
</h3>
<p class="text-muted text-small">
<span class="certificate">U</span>
<span class="ghost">|</span>
<span class="runtime">160 min</span>
<span class="ghost">|</span>
<span class="genre">
Musical, Romance, Drama            </span>
</p>
<div class="ipl-rating-widget">
<div class="ipl-rating-star small">
<span class="ipl-rating-star__star">
<svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
<path d="M0 0h24v24H0z" fill="none"></path>
<path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
<path d="M0 0h24v24H0z" fill="none"></path>
</svg>
</span>
<span class="ipl-rating-star__rating">8.8</span>
</div>
<div class="ipl-rating-interactive small ipl-rating-interactive--no-rating">
<input class="ipl-rating-interactive__state" data-reftag="ur_rt" data-tconst="tt0086231" id="checkbox-tt0086231" type="checkbox"/>
<label class="ipl-rating-interactive__star-container" for="checkbox-tt0086231">
<div class="ipl-rating-star ipl-rating-interactive__star">
<span class="ipl-rating-star__star">
<svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
<path d="M0 0h24v24H0z" fill="none"></path>
<path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
<path d="M0 0h24v24H0z" fill="none"></path>
</svg>
</span>
<span class="ipl-rating-star__rating">0</span>
</div>
<div class="ipl-rating-star ipl-rating-interactive__star--empty">
<span class="ipl-rating-star__star">
<svg class="ipl-icon ipl-star-border-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
<path d="M22 9.24l-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03L22 9.24zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z"></path>
<path d="M0 0h24v24H0z" fill="none"></path>
</svg>
</span>
<span class="ipl-rating-star__rating">Rate</span>
</div>
</label>
<div class="ipl-rating-selector" data-value="0" id="ipl-rating-selector-tt0086231">
<div class="ipl-rating-selector__selector ipl-rating-selector__wrapper">
<div class="ipl-rating-selector__reset">
<a href="#void"> <svg class="ipl-icon ipl-cancel-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
<path d="M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm5 13.59L15.59 17 12 13.41 8.41 17 7 15.59 10.59 12 7 8.41 8.41 7 12 10.59 15.59 7 17 8.41 13.41 12 17 15.59z"></path>
<path d="M0 0h24v24H0z" fill="none"></path>
</svg>
</a>
</div>
<span class="ipl-rating-selector__divider"></span>
<form action="/ratings/_ajax/title" class="ipl-rating-selector__star-list" method="post">
<a class="ipl-rating-selector__star-link" data-value="1" href="#void">
<div class="ipl-rating-star ipl-rating-interactive__star">
<span class="ipl-rating-star__star">
<svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
<path d="M0 0h24v24H0z" fill="none"></path>
<path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
<path d="M0 0h24v24H0z" fill="none"></path>
</svg>
</span>
<span class="ipl-rating-star__rating">1</span>
</div>
<div class="ipl-rating-star ipl-rating-interactive__star--empty">
<span class="ipl-rating-star__star">
<svg class="ipl-icon ipl-star-border-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
<path d="M22 9.24l-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03L22 9.24zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z"></path>
<path d="M0 0h24v24H0z" fill="none"></path>
</svg>
</span>
<span class="ipl-rating-star__rating">Rate</span>
</div>
</a>
<a class="ipl-rating-selector__star-link" data-value="2" href="#void">
<div class="ipl-rating-star ipl-rating-interactive__star">
<span class="ipl-rating-star__star">
<svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
<path d="M0 0h24v24H0z" fill="none"></path>
<path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
<path d="M0 0h24v24H0z" fill="none"></path>
</svg>
</span>
<span class="ipl-rating-star__rating">2</span>
</div>
<div class="ipl-rating-star ipl-rating-interactive__star--empty">
<span class="ipl-rating-star__star">
<svg class="ipl-icon ipl-star-border-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
<path d="M22 9.24l-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03L22 9.24zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z"></path>
<path d="M0 0h24v24H0z" fill="none"></path>
</svg>
</span>
<span class="ipl-rating-star__rating">Rate</span>
</div>
</a>
<a class="ipl-rating-selector__star-link" data-value="3" href="#void">
<div class="ipl-rating-star ipl-rating-interactive__star">
<span class="ipl-rating-star__star">
<svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
<path d="M0 0h24v24H0z" fill="none"></path>
<path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
<path d="M0 0h24v24H0z" fill="none"></path>
</svg>
</span>
<span class="ipl-rating-star__rating">3</span>
</div>
<div class="ipl-rating-star ipl-rating-interactive__star--empty">
<span class="ipl-rating-star__star">
<svg class="ipl-icon ipl-star-border-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
<path d="M22 9.24l-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03L22 9.24zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z"></path>
<path d="M0 0h24v24H0z" fill="none"></path>
</svg>
</span>
<span class="ipl-rating-star__rating">Rate</span>
</div>
</a>
<a class="ipl-rating-selector__star-link" data-value="4" href="#void">
<div class="ipl-rating-star ipl-rating-interactive__star">
<span class="ipl-rating-star__star">
<svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
<path d="M0 0h24v24H0z" fill="none"></path>
<path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
<path d="M0 0h24v24H0z" fill="none"></path>
</svg>
</span>
<span class="ipl-rating-star__rating">4</span>
</div>
<div class="ipl-rating-star ipl-rating-interactive__star--empty">
<span class="ipl-rating-star__star">
<svg class="ipl-icon ipl-star-border-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
<path d="M22 9.24l-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03L22 9.24zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z"></path>
<path d="M0 0h24v24H0z" fill="none"></path>
</svg>
</span>
<span class="ipl-rating-star__rating">Rate</span>
</div>
</a>
<a class="ipl-rating-selector__star-link" data-value="5" href="#void">
<div class="ipl-rating-star ipl-rating-interactive__star">
<span class="ipl-rating-star__star">
<svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
<path d="M0 0h24v24H0z" fill="none"></path>
<path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
<path d="M0 0h24v24H0z" fill="none"></path>
</svg>
</span>
<span class="ipl-rating-star__rating">5</span>
</div>
<div class="ipl-rating-star ipl-rating-interactive__star--empty">
<span class="ipl-rating-star__star">
<svg class="ipl-icon ipl-star-border-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
<path d="M22 9.24l-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03L22 9.24zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z"></path>
<path d="M0 0h24v24H0z" fill="none"></path>
</svg>
</span>
<span class="ipl-rating-star__rating">Rate</span>
</div>
</a>
<a class="ipl-rating-selector__star-link" data-value="6" href="#void">
<div class="ipl-rating-star ipl-rating-interactive__star">
<span class="ipl-rating-star__star">
<svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
<path d="M0 0h24v24H0z" fill="none"></path>
<path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
<path d="M0 0h24v24H0z" fill="none"></path>
</svg>
</span>
<span class="ipl-rating-star__rating">6</span>
</div>
<div class="ipl-rating-star ipl-rating-interactive__star--empty">
<span class="ipl-rating-star__star">
<svg class="ipl-icon ipl-star-border-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
<path d="M22 9.24l-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03L22 9.24zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z"></path>
<path d="M0 0h24v24H0z" fill="none"></path>
</svg>
</span>
<span class="ipl-rating-star__rating">Rate</span>
</div>
</a>
<a class="ipl-rating-selector__star-link" data-value="7" href="#void">
<div class="ipl-rating-star ipl-rating-interactive__star">
<span class="ipl-rating-star__star">
<svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
<path d="M0 0h24v24H0z" fill="none"></path>
<path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
<path d="M0 0h24v24H0z" fill="none"></path>
</svg>
</span>
<span class="ipl-rating-star__rating">7</span>
</div>
<div class="ipl-rating-star ipl-rating-interactive__star--empty">
<span class="ipl-rating-star__star">
<svg class="ipl-icon ipl-star-border-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
<path d="M22 9.24l-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03L22 9.24zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z"></path>
<path d="M0 0h24v24H0z" fill="none"></path>
</svg>
</span>
<span class="ipl-rating-star__rating">Rate</span>
</div>
</a>
<a class="ipl-rating-selector__star-link" data-value="8" href="#void">
<div class="ipl-rating-star ipl-rating-interactive__star">
<span class="ipl-rating-star__star">
<svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
<path d="M0 0h24v24H0z" fill="none"></path>
<path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
<path d="M0 0h24v24H0z" fill="none"></path>
</svg>
</span>
<span class="ipl-rating-star__rating">8</span>
</div>
<div class="ipl-rating-star ipl-rating-interactive__star--empty">
<span class="ipl-rating-star__star">
<svg class="ipl-icon ipl-star-border-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
<path d="M22 9.24l-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03L22 9.24zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z"></path>
<path d="M0 0h24v24H0z" fill="none"></path>
</svg>
</span>
<span class="ipl-rating-star__rating">Rate</span>
</div>
</a>
<a class="ipl-rating-selector__star-link" data-value="9" href="#void">
<div class="ipl-rating-star ipl-rating-interactive__star">
<span class="ipl-rating-star__star">
<svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
<path d="M0 0h24v24H0z" fill="none"></path>
<path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
<path d="M0 0h24v24H0z" fill="none"></path>
</svg>
</span>
<span class="ipl-rating-star__rating">9</span>
</div>
<div class="ipl-rating-star ipl-rating-interactive__star--empty">
<span class="ipl-rating-star__star">
<svg class="ipl-icon ipl-star-border-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
<path d="M22 9.24l-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03L22 9.24zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z"></path>
<path d="M0 0h24v24H0z" fill="none"></path>
</svg>
</span>
<span class="ipl-rating-star__rating">Rate</span>
</div>
</a>
<a class="ipl-rating-selector__star-link" data-value="10" href="#void">
<div class="ipl-rating-star ipl-rating-interactive__star">
<span class="ipl-rating-star__star">
<svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
<path d="M0 0h24v24H0z" fill="none"></path>
<path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
<path d="M0 0h24v24H0z" fill="none"></path>
</svg>
</span>
<span class="ipl-rating-star__rating">10</span>
</div>
<div class="ipl-rating-star ipl-rating-interactive__star--empty">
<span class="ipl-rating-star__star">
<svg class="ipl-icon ipl-star-border-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
<path d="M22 9.24l-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03L22 9.24zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z"></path>
<path d="M0 0h24v24H0z" fill="none"></path>
</svg>
</span>
<span class="ipl-rating-star__rating">Rate</span>
</div>
</a>
<fieldset class="ipl-rating-selector__fieldset">
<input name="tconst" type="hidden" value="tt0086231">
<input name="rating" type="text" value="0"/>
<input name="auth" type="hidden" value=""/>
<input name="tracking_tag" type="hidden" value="ur_rt"/>
<input name="pageType" type="hidden" value="list"/>
<input name="subpageType" type="hidden" value="title"/>
</input></fieldset>
<noscript>
<input class="ipl-rating-selector__rating-submit" type="submit" value="Vote"/>
</noscript>
</form>
<span class="ipl-rating-selector__rating-value">0</span>
</div>
<div class="ipl-rating-selector__error ipl-rating-selector__wrapper">
<span>Error: please try again.</span>
</div>
</div>
<div class="ipl-rating-interactive__loader">
<img alt="loading" src="https://m.media-amazon.com/images/G/01/IMDb/spinning-progress.gif"/>
</div>
</div>
</div>
<p class="">
    A classical dancer, Balakrishna, (Kamal Haasan) faces many struggles, but is eventually redeemed.</p>
<p class="text-muted text-small">
    Director:
<a href="/name/nm0899649/">K. Viswanath</a>
<span class="ghost">|</span>
    Stars:
<a href="/name/nm0352032/">Kamal Haasan</a>,
<a href="/name/nm0419685/">Jaya Prada</a>,
<a href="/name/nm0764871/">Sarath Babu</a>,
<a href="/name/nm0004465/">Sailaja S.P.</a>
</p>
<p class="text-muted text-small">
<span class="text-muted">Votes:</span>
<span data-value="2787" name="nv">2,787</span>
</p>
<div class="wtw-option-standalone" data-baseref="wl_li" data-tconst="tt0086231" data-watchtype="minibar"></div>
</div>
<div class="clear"></div>
</div>

In [19]:
#position of the book
first.find('span',class_="lister-item-index unbold text-primary").text

'1.'

In [20]:
#Movies name
first.h3.a.text

'Sagara Sangamam'

In [21]:
#Year of release
first.find('span',class_="lister-item-year text-muted unbold").text

'(1983)'

In [22]:
#IMDB Rating
first.find('span',class_="ipl-rating-star__rating").text

'8.8'

In [23]:
#Creating empty list and appendin the data collected
POS=[]
Movie=[]
Year=[]
imdb=[]

for i in title:
    POS.append(i.find('span',class_="lister-item-index unbold text-primary").text)
    Movie.append(i.h3.a.text)
    Year.append(i.find('span',class_="lister-item-year text-muted unbold").text)
    imdb.append(i.find('span',class_="ipl-rating-star__rating").text)

In [24]:
#list of the appended data
data1=list(zip(POS,Movie,Year,imdb))

In [25]:
#Importing pandas
import pandas as pd
df=pd.DataFrame(data1,columns=["POS","Name Of the Movie","Year of Release ","IMDB Rating"])

In [26]:
#Setting index to poistion of the book
df.set_index('POS')

          Name Of the Movie Year of Release  IMDB Rating
POS
1.          Sagara Sangamam           (1983)         8.8
2.    Goopy Gyne Bagha Byne           (1969)         8.8
3.          Pather Panchali           (1955)         8.6
4.                  Nayakan           (1987)         8.6
5.          Pushpaka Vimana           (1987)         8.6
...                     ...              ...         ...
96.                  Vanaja           (2006)         7.1
97.             Amma Ariyan           (1987)         7.1
98.                 Chandni           (1989)         6.8
99.            Neecha Nagar           (1946)         6.8
100.        English, August           (1994)         6.7

[100 rows x 3 columns]

In [27]:
#Exporting the df to csv
df.to_csv("IMDB TOP 100  INDIAN Movies")

# 4.REVIEW OF BOOKS

In [28]:
#Sending access request to the web page
page4=requests.get("https://bookpage.com/reviews")

In [29]:
#Instantiating
soup4=BeautifulSoup(page4.content,'html.parser')

In [30]:
book=soup4.findAll('div',class_="row-fluid article-row")
first=book[0]

In [31]:
first

<div class="row-fluid article-row">
<div class="bp-block article-info">
<div class="article-list-left">
<a href="/reviews/25844-alexander-larman-crown-crisis-biography"><img alt="Medium" src="https://t1.bookpage.com/books/images/440f0ceb7e692a5d1c0d104407acc1d5/medium.jpg"/></a>
</div>
<div class="flex-article-content">
<h4 class="italic">
<a href="/reviews/25844-alexander-larman-crown-crisis-biography">The Crown in Crisis</a>
</h4>
<p class="sans bold">
Alexander Larman
</p>
<p class="genre-links hidden-phone">
<a href="/search?book_genre=nonfiction">Nonfiction</a>
 /
<a href="/search?book_genre=biography">Biography</a>
 /
<a href="/search?book_genre=european_history">European History</a>
</p>
<p class="excerpt">
In <strong>The Crown in Crisis</strong>, historian and journalist Alexander Larman details one of the royal family’s biggest scandals: When King Edward VIII abdicated the throne in order to marry his lover, Wallis Simpson.
</p>
<div class="read-full">
<a href="/reviews/25844-alexander-larman-crown-crisis-nonfiction">Read the Review <i class="zmdi zmdi-chevron-right"></i></a>
</div>
</div>
<br class="clear"/>
</div>
</div>

In [32]:
#Book's Name
first.h4.a.text

'The Crown in Crisis'

In [33]:
#Author's name
first.p.text.replace("\n"," ")

' Alexander Larman '

In [34]:
#Genre of the book
first.find('p',class_="genre-links hidden-phone").text.replace('\n'," ")

' Nonfiction  /  Biography  /  European History '

In [35]:
#Review of the book
first.find('p',class_="excerpt").text.replace('\n'," ")

' In The Crown in Crisis, historian and journalist Alexander Larman details one of the royal family’s biggest scandals: When King Edward VIII abdicated the throne in order to marry his lover, Wallis Simpson. '

In [36]:
#Creating expty lists and appending
Book_Name=[]
Author=[]
Genre=[]
Review=[]


for i in book:
    Book_Name.append(i.h4.a.text)
    Author.append(i.p.text.replace("\n"," "))
    Genre.append(i.find('p',class_="genre-links hidden-phone").text.replace('\n'," "))
    Review.append(i.find('p',class_="excerpt").text.replace('\n'," "))

In [37]:
data2=list(zip(Book_Name,Author,Genre,Review))

In [38]:
#Importing pandas and creating the data frame
import pandas as pd
df=pd.DataFrame(data2,columns=['Book_Name','Author','Genre','Review'])

In [39]:
#We need only 5 books informtaion so slicing 
df1=df[0:5]

In [40]:
df1

,Book_Name,Author,Genre,Review
0,The Crown in Crisis,Alexander Larman,Nonfiction / Biography / European History,"In The Crown in Crisis, historian and journal..."
1,The Doctors Blackwell,Janice P. Nimura,Nonfiction / American History / Medicine,Janice P. Nimura’s compelling biography The D...
2,Summerwater,Sarah Moss,Fiction / Literary Fiction,"Gabriel García Márquez once wrote, “Everyone ..."
3,Winterkeep,Kristin Cashore,YA / YA Fiction,Fans of Kristin Cashore’s previous books set ...
4,Amari and the Night Brothers,B. B. Alston,Children's / Middle Grade,Things are not going well for Amari Peters. H...

# 5i.Men's Top 10 ODI teams

In [41]:
#Importing required Analysis
import selenium
import pandas as pd
from selenium import webdriver

In [42]:
#webdriver address
driver5i=webdriver.Chrome(r"C:/Users/THIS PC/Downloads/chromedriver_win32/chromedriver.exe")

In [43]:
#url of the website which needs to be scrapped
url="https://www.icc-cricket.com/rankings/mens/team-rankings/odi"

In [44]:
driver5i.get(url)

In [45]:
#Creating empty lists
POS=[]
Team_Name=[]
Matches=[]
Points=[]
Ratings=[]

In [46]:
#Scrapping the highlighted data in the first row 

postag1=driver5i.find_element_by_xpath('//td[@class="rankings-block__banner--pos"]')
POS.append(postag1.text)
print(len(POS))


matchtag=driver5i.find_element_by_xpath('//td[@class="rankings-block__banner--matches"]')
Matches.append(matchtag.text)
print(len(Matches))

pointtag=driver5i.find_element_by_xpath('//td[@class="rankings-block__banner--points"]')
Points.append(pointtag.text)
print(len(Points))

ratingtag=driver5i.find_element_by_xpath('//td[@class="rankings-block__banner--rating u-text-right"]')
Ratings.append(ratingtag.text)
print(len(Ratings))

1
1
1
1

In [47]:
#Scrapping other data
postag1=driver5i.find_elements_by_xpath('//td[@class="table-body__cell table-body__cell--position u-text-right"]')

for i in postag1:
    POS.append(i.text)
print(len(POS))


nametag1=driver5i.find_elements_by_xpath('//span[@class="u-hide-phablet"]')

for i in nametag1:
    Team_Name.append(i.text)
print(len(Team_Name))

matchtag=driver5i.find_elements_by_xpath('//tr[@class="table-body"]/td[3]')

for i in matchtag:
    Matches.append(i.text)
print(len(Matches))

pointtag=driver5i.find_elements_by_xpath('//tr[@class="table-body"]/td[4]')

for i in pointtag:
    Points.append(i.text)
print(len(Points))

ratingtag=driver5i.find_elements_by_xpath('//td[@class="table-body__cell u-text-right rating"]')

for i in ratingtag:
    Ratings.append(i.text)
print(len(Ratings))

20
20
20
20
20

In [48]:
data5i=list(zip(POS,Team_Name,Matches,Points,Ratings))

In [49]:
#Creating dataframe
df5i=pd.DataFrame(data5i,columns=['POS','Team_Name','Matches','Points','Ratings'])

In [50]:
df=df5i[0:10]

In [51]:
df.set_index("POS")

        Team_Name Matches Points Ratings
POS
1         England      44  5,405     123
2           India      52  6,102     117
3     New Zealand      32  3,716     116
4       Australia      39  4,344     111
5    South Africa      31  3,345     108
6        Pakistan      35  3,490     100
7      Bangladesh      34  2,989      88
8       Sri Lanka      39  3,297      85
9     West Indies      43  3,285      76
10    Afghanistan      28  1,549      55

# TOP 10 ODI Player

In [52]:
driver5b=webdriver.Chrome(r"C:/Users/THIS PC/Downloads/chromedriver_win32/chromedriver.exe")

In [53]:
url="https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting"

In [54]:
driver5b.get(url)

In [55]:
#Creating empty lists
POS=[]
Player_Name=[]
Team=[]
Rating=[]
Career_Best_Rating=[]

In [56]:
#Scrapping highlighted data
postag1=driver5b.find_element_by_xpath('//td[@class="rankings-block__position"]')
POS.append(postag1.text)
print(len(POS))

nametag1=driver5b.find_element_by_xpath('//div[@class="rankings-block__banner--name-large"]')
Player_Name.append(nametag1.text)
print(len(Player_Name))

teamtag=driver5b.find_element_by_xpath('//div[@class="rankings-block__banner--nationality"]')
Team.append(teamtag.text)
print(len(Team))

ratingtag=driver5b.find_element_by_xpath('//div[@class="rankings-block__banner--rating"]')
Rating.append(ratingtag.text)
print(len(Rating))

careerbesttag=driver5b.find_element_by_xpath('//span[@class="rankings-block__career-best-text"]')
Career_Best_Rating.append(careerbesttag.text)
print(len(Career_Best_Rating))

1
1
1
1
1

In [57]:
#Creating other data
postag=driver5b.find_elements_by_xpath('//td[@class="table-body__cell table-body__cell--position u-text-right"]')

for i in postag:
    POS.append(i.text)
print(len(POS))

nametag=driver5b.find_elements_by_xpath('//td[@class="table-body__cell rankings-table__name name"]')

for i in nametag:
    Player_Name.append(i.text)
print(len(Player_Name))

teamtag1=driver5b.find_elements_by_xpath('//span[@class="table-body__logo-text"]')
for i in teamtag1:
    Team.append(i.text)
print(len(Team))

ratingtag1=driver5b.find_elements_by_xpath('//td[@class="table-body__cell rating"]')
for i in ratingtag1:
    Rating.append(i.text)
print(len(Rating))

careerbesttag1=driver5b.find_elements_by_xpath('//td[@class="table-body__cell u-text-right u-hide-phablet"]')
for i in careerbesttag1:
    Career_Best_Rating.append(i.text)
print(len(Career_Best_Rating))

100
100
100
100
100

In [58]:
#Creating DataFrame
data=(zip(POS,Player_Name,Team,Rating,Career_Best_Rating))

sample_df=pd.DataFrame(data,columns=['POS','Player_Name','Team','Rating','Career_Best_Rating'],index=POS)

df=sample_df[0:10]

In [59]:
df.set_index("POS")

             Player_Name Team Rating            Career_Best_Rating
POS
1            Virat Kohli  IND    870     911 v England, 12/07/2018
2           Rohit Sharma  IND    842   885 v Sri Lanka, 06/07/2019
3             Babar Azam  PAK    837   846 v Sri Lanka, 20/10/2017
4            Ross Taylor   NZ    818  841 v Bangladesh, 05/06/2019
5            Aaron Finch  AUS    791     798 v England, 25/06/2019
6    Francois du Plessis   SA    790   820 v Australia, 06/07/2019
7           David Warner  AUS    773    880 v Pakistan, 26/01/2017
8        Kane Williamson   NZ    765       799 v India, 09/07/2019
9        Quinton de Kock   SA    755   813 v Sri Lanka, 10/03/2019
10        Jonny Bairstow  ENG    754   777 v Australia, 21/06/2018

# Top 10 ODI bowlers

In [60]:
driver5c=webdriver.Chrome(r"C:/Users/THIS PC/Downloads/chromedriver_win32/chromedriver.exe")

In [61]:
url="https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling"

In [62]:
driver5c.get(url)

In [63]:
#Creating empty list
POS=[]
Player_Name=[]
Team=[]
Rating=[]
Career_Best_Rating=[]

In [64]:
#Creating highlighted data
postag1=driver5c.find_element_by_xpath('//td[@class="rankings-block__position"]')
POS.append(postag1.text)
print(len(POS))

nametag1=driver5c.find_element_by_xpath('//div[@class="rankings-block__banner--name-large"]')
Player_Name.append(nametag1.text)
print(len(Player_Name))

teamtag=driver5c.find_element_by_xpath('//div[@class="rankings-block__banner--nationality"]')
Team.append(teamtag.text)
print(len(Team))

ratingtag=driver5c.find_element_by_xpath('//div[@class="rankings-block__banner--rating"]')
Rating.append(ratingtag.text)
print(len(Rating))

careerbesttag=driver5c.find_element_by_xpath('//span[@class="rankings-block__career-best-text"]')
Career_Best_Rating.append(careerbesttag.text)
print(len(Career_Best_Rating))

1
1
1
1
1

In [65]:
#Scrapping remaining data
postag=driver5c.find_elements_by_xpath('//td[@class="table-body__cell table-body__cell--position u-text-right"]')

for i in postag:
    POS.append(i.text)
print(len(POS))

nametag=driver5c.find_elements_by_xpath('//td[@class="table-body__cell rankings-table__name name"]')

for i in nametag:
    Player_Name.append(i.text)
print(len(Player_Name))

teamtag1=driver5c.find_elements_by_xpath('//span[@class="table-body__logo-text"]')
for i in teamtag1:
    Team.append(i.text)
print(len(Team))

ratingtag1=driver5c.find_elements_by_xpath('//td[@class="table-body__cell rating"]')
for i in ratingtag1:
    Rating.append(i.text)
print(len(Rating))

careerbesttag1=driver5c.find_elements_by_xpath('//td[@class="table-body__cell u-text-right u-hide-phablet"]')
for i in careerbesttag1:
    Career_Best_Rating.append(i.text)
print(len(Career_Best_Rating))

100
100
100
100
100

In [66]:
#Creating dataFrame
data=(zip(POS,Player_Name,Team,Rating,Career_Best_Rating))

sample_df=pd.DataFrame(data,columns=['POS','Player_Name','Team','Rating','Career_Best_Rating'])

df=sample_df[0:10]

In [67]:
df.set_index('POS')

          Player_Name Team Rating             Career_Best_Rating
POS
1         Trent Boult   NZ    722  770 v West Indies, 22/06/2019
2    Mujeeb Ur Rahman  AFG    701  707 v West Indies, 11/11/2019
3      Jasprit Bumrah  IND    700  841 v West Indies, 01/11/2018
4        Chris Woakes  ENG    675  676 v New Zealand, 14/07/2019
5       Kagiso Rabada   SA    665      724 v England, 29/05/2017
6      Josh Hazlewood  AUS    660      733 v England, 26/01/2018
7       Mohammad Amir  PAK    647    663 v Sri Lanka, 02/10/2019
8         Pat Cummins  AUS    646     729 v Pakistan, 12/06/2019
9          Matt Henry   NZ    641    675 v Australia, 08/02/2016
10       Jofra Archer  ENG    637    642 v Australia, 13/09/2020

# Top 10 ODI teams in women’s cricket

In [68]:
#webdriver address
driver6a=webdriver.Chrome(r"C:/Users/THIS PC/Downloads/chromedriver_win32/chromedriver.exe")

In [69]:
#url of the website which needs to be scrapped
url="https://www.icc-cricket.com/rankings/womens/team-rankings/odi"

In [70]:
driver6a.get(url)

In [71]:
#Creating empty lists
POS=[]
Team_Name=[]
Matches=[]
Points=[]
Ratings=[]

In [72]:
#Scrapping the highlighted data in the first row 

postag1=driver6a.find_element_by_xpath('//td[@class="rankings-block__banner--pos"]')
POS.append(postag1.text)
print(len(POS))


matchtag=driver6a.find_element_by_xpath('//td[@class="rankings-block__banner--matches"]')
Matches.append(matchtag.text)
print(len(Matches))

pointtag=driver6a.find_element_by_xpath('//td[@class="rankings-block__banner--points"]')
Points.append(pointtag.text)
print(len(Points))

ratingtag=driver6a.find_element_by_xpath('//td[@class="rankings-block__banner--rating u-text-right"]')
Ratings.append(ratingtag.text)
print(len(Ratings))

1
1
1
1

In [73]:
#Scrapping other data
postag1=driver6a.find_elements_by_xpath('//td[@class="table-body__cell table-body__cell--position u-text-right"]')

for i in postag1:
    POS.append(i.text)
print(len(POS))


nametag1=driver6a.find_elements_by_xpath('//span[@class="u-hide-phablet"]')

for i in nametag1:
    Team_Name.append(i.text)
print(len(Team_Name))

matchtag=driver6a.find_elements_by_xpath('//tr[@class="table-body"]/td[3]')

for i in matchtag:
    Matches.append(i.text)
print(len(Matches))

pointtag=driver6a.find_elements_by_xpath('//tr[@class="table-body"]/td[4]')

for i in pointtag:
    Points.append(i.text)
print(len(Points))

ratingtag=driver6a.find_elements_by_xpath('//td[@class="table-body__cell u-text-right rating"]')

for i in ratingtag:
    Ratings.append(i.text)
print(len(Ratings))

10
10
10
10
10

In [74]:
data6a=list(zip(POS,Team_Name,Matches,Points,Ratings))

In [75]:
df6a=pd.DataFrame(data6a,columns=['POS','Team_Name','Matches','Points','Ratings'])

In [76]:
df6a.set_index("POS")

        Team_Name Matches Points Ratings
POS
1       Australia      15  2,436     162
2           India      15  1,812     121
3         England      14  1,670     119
4    South Africa      16  1,713     107
5     New Zealand      15  1,384      92
6     West Indies      12  1,025      85
7        Pakistan      12    927      77
8      Bangladesh       5    306      61
9       Sri Lanka      11    519      47
10        Ireland       2     25      13

# TOP 10 ODI player-Women's Cricket

In [77]:
driver6b=webdriver.Chrome(r"C:/Users/THIS PC/Downloads/chromedriver_win32/chromedriver.exe")

In [78]:
url="https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting"

In [79]:
driver6b.get(url)

In [80]:
#Creating empty lists
POS=[]
Player_Name=[]
Team=[]
Rating=[]
Career_Best_Rating=[]

In [81]:
#Scrapping highlighted data  
postag1=driver6b.find_element_by_xpath('//td[@class="rankings-block__position"]')
POS.append(postag1.text)
print(len(POS))

nametag1=driver6b.find_element_by_xpath('//div[@class="rankings-block__banner--name-large"]')
Player_Name.append(nametag1.text)
print(len(Player_Name))

teamtag=driver6b.find_element_by_xpath('//div[@class="rankings-block__banner--nationality"]')
Team.append(teamtag.text)
print(len(Team))

ratingtag=driver6b.find_element_by_xpath('//div[@class="rankings-block__banner--rating"]')
Rating.append(ratingtag.text)
print(len(Rating))

careerbesttag=driver6b.find_element_by_xpath('//span[@class="rankings-block__career-best-text"]')
Career_Best_Rating.append(careerbesttag.text)
print(len(Career_Best_Rating))

1
1
1
1
1

In [82]:
#Scrapping the remaining data
postag=driver6b.find_elements_by_xpath('//td[@class="table-body__cell table-body__cell--position u-text-right"]')

for i in postag:
    POS.append(i.text)
print(len(POS))

nametag=driver6b.find_elements_by_xpath('//td[@class="table-body__cell rankings-table__name name"]')

for i in nametag:
    Player_Name.append(i.text)
print(len(Player_Name))

teamtag1=driver6b.find_elements_by_xpath('//span[@class="table-body__logo-text"]')
for i in teamtag1:
    Team.append(i.text)
print(len(Team))

ratingtag1=driver6b.find_elements_by_xpath('//td[@class="table-body__cell rating"]')
for i in ratingtag1:
    Rating.append(i.text)
print(len(Rating))

careerbesttag1=driver6b.find_elements_by_xpath('//td[@class="table-body__cell u-text-right u-hide-phablet"]')
for i in careerbesttag1:
    Career_Best_Rating.append(i.text)
print(len(Career_Best_Rating))

100
100
100
100
100

In [83]:
#Creating data frame

data=(zip(POS,Player_Name,Team,Rating,Career_Best_Rating))

sample_df=pd.DataFrame(data,columns=['POS','Player_Name','Team','Rating','Career_Best_Rating'],index=POS)

df=sample_df[0:10]

In [84]:
df.set_index("POS")

           Player_Name Team Rating             Career_Best_Rating
POS
1          Meg Lanning  AUS    749  834 v New Zealand, 24/02/2016
2      Stafanie Taylor   WI    746        765 v India, 02/03/2012
3         Alyssa Healy  AUS    741  741 v New Zealand, 07/10/2020
4      Smriti Mandhana  IND    732      797 v England, 28/02/2019
5    Amy Satterthwaite   NZ    723    756 v Australia, 02/03/2017
6       Tammy Beaumont  ENG    716    738 v Australia, 04/07/2019
7         Ellyse Perry  AUS    691  766 v West Indies, 11/09/2019
8          Lizelle Lee   SA    690      752 v England, 12/06/2018
9      Laura Wolvaardt   SA    689  712 v New Zealand, 25/01/2020
10         Mithali Raj  IND    687    839 v Australia, 24/12/2004

# Top 10 ODI Bowlers-Women's Cricket

In [85]:
driver6c=webdriver.Chrome(r"C:/Users/THIS PC/Downloads/chromedriver_win32/chromedriver.exe")

In [86]:
url="https://www.icc-cricket.com/rankings/womens/player-rankings/odi/bowling"

In [87]:
driver6c.get(url)

In [88]:
#Creating empty lists
POS=[]
Player_Name=[]
Team=[]
Rating=[]
Career_Best_Rating=[]

In [89]:
#Scrapping highlighted data
postag1=driver6c.find_element_by_xpath('//td[@class="rankings-block__position"]')
POS.append(postag1.text)
print(len(POS))

nametag1=driver6c.find_element_by_xpath('//div[@class="rankings-block__banner--name-large"]')
Player_Name.append(nametag1.text)
print(len(Player_Name))

teamtag=driver6c.find_element_by_xpath('//div[@class="rankings-block__banner--nationality"]')
Team.append(teamtag.text)
print(len(Team))

ratingtag=driver6c.find_element_by_xpath('//div[@class="rankings-block__banner--rating"]')
Rating.append(ratingtag.text)
print(len(Rating))

careerbesttag=driver6c.find_element_by_xpath('//span[@class="rankings-block__career-best-text"]')
Career_Best_Rating.append(careerbesttag.text)
print(len(Career_Best_Rating))

1
1
1
1
1

In [90]:
#Scrapping remaining data
postag=driver6c.find_elements_by_xpath('//td[@class="table-body__cell table-body__cell--position u-text-right"]')

for i in postag:
    POS.append(i.text)
print(len(POS))

nametag=driver6c.find_elements_by_xpath('//td[@class="table-body__cell rankings-table__name name"]')

for i in nametag:
    Player_Name.append(i.text)
print(len(Player_Name))

teamtag1=driver6c.find_elements_by_xpath('//span[@class="table-body__logo-text"]')
for i in teamtag1:
    Team.append(i.text)
print(len(Team))

ratingtag1=driver6c.find_elements_by_xpath('//td[@class="table-body__cell rating"]')
for i in ratingtag1:
    Rating.append(i.text)
print(len(Rating))

careerbesttag1=driver6c.find_elements_by_xpath('//td[@class="table-body__cell u-text-right u-hide-phablet"]')
for i in careerbesttag1:
    Career_Best_Rating.append(i.text)
print(len(Career_Best_Rating))

100
100
100
100
100

In [91]:
#Creating data frame
data6c=(zip(POS,Player_Name,Team,Rating,Career_Best_Rating))

sample_df=pd.DataFrame(data6c,columns=['POS','Player_Name','Team','Rating','Career_Best_Rating'])

df=sample_df[0:10]

In [92]:
df.set_index('POS')

        Player_Name Team Rating              Career_Best_Rating
POS
1     Jess Jonassen  AUS    804   804 v New Zealand, 07/10/2020
2    Marizanne Kapp   SA    738   738 v New Zealand, 30/01/2020
3      Megan Schutt  AUS    735   766 v West Indies, 11/09/2019
4    Shabnim Ismail   SA    717   717 v New Zealand, 30/01/2020
5    Jhulan Goswami  IND    691       796 v England, 28/02/2007
6      Poonam Yadav  IND    679   680 v West Indies, 06/11/2019
7     Shikha Pandey  IND    675  696 v South Africa, 11/10/2019
8      Ellyse Perry  AUS    666   719 v West Indies, 05/09/2019
9    Anya Shrubsole  ENG    645      655 v Pakistan, 12/12/2019
10    Deepti Sharma  IND    639       650 v England, 22/02/2019

# 7.Mobiles under 20000 -Amazon

In [93]:
#Importing necessary libraries
import pandas as pd
from selenium import webdriver
import selenium
from selenium.common.exceptions import NoSuchElementException
import time

In [94]:
#webdriver address
driver7=webdriver.Chrome(r"C:/Users/THIS PC/Downloads/chromedriver_win32/chromedriver.exe")

In [95]:
#url of the website which needs to be scrapped
url="https://www.amazon.in/Smartphones-%E2%82%B910-000-%E2%82%B920-Basic-Mobiles/s?rh=n%3A1805560031%2Cp_36%3A1318506031"

In [96]:
driver7.get(url)

In [97]:
#Creating empty lists
Product_name=[]
Price=[]
Image_URL=[]
Customer_Reviews=[]
Average_Rating=[]

In [98]:
for i in range(1,25):
    
    #Extracting the product name
    try:
        product=driver7.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-normal"]')
        for j in product:
            Product_name.append(j.text)
        
    except NoSuchElementException:
        Product_name.append("Not Available")
  
   
    
    #Extracting the image_url
    try:
        image=driver7.find_elements_by_xpath('//img[@class="s-image"]')
        for k in image:
            url=k.get_attribute('srcset')
            Image_URL.append(url)


    except NoSuchElementException:
        Image_URL.append("Not Available")
 

   #Extracting the price of the product
    try:
        price=driver7.find_elements_by_xpath('//span[@class="a-price-whole"]')
        for l in price:
            Price.append(l.text)

    except NoSuchElementException:
        Price.append("Not Available")
        
    #Extracting the customer review    
    try:
        customer=driver7.find_elements_by_xpath('//span[@class="a-size-base"]')
        for i in customer:
            Customer_Reviews.append(i.text)
    except NoSuchElementException:
        Customer_Reviews.append("Not found")
        

    driver7.find_element_by_xpath('//li[@class="a-normal"]').click()
    time.sleep(3)

In [99]:
#finding the length of the lists
len(Product_name),len(Price),len(Image_URL),len(Customer_Reviews)

(576, 576, 576, 576)

In [100]:
#computing data
data7=list(zip(Product_name,Price,Image_URL,Customer_Reviews))

In [101]:
#Creating dataframe
df=pd.DataFrame(data7,columns=["Product_name","Price","Image_URL","Customer_Reviews"])

In [102]:
df

,Product_name,Price,Image_URL,Customer_Reviews
0,"Redmi Note 9 Pro (Aurora Blue, 4GB RAM, 64GB S...","12,999",https://m.media-amazon.com/images/I/81pzsRpE5G...,"28,878"
1,"Samsung Galaxy M31 (Ocean Blue, 6GB RAM, 128GB...","16,499",https://m.media-amazon.com/images/I/71-Su4Wr0H...,"125,599"
2,"Redmi Note 9 Pro (Interstellar Black, 4GB RAM,...","12,999",https://m.media-amazon.com/images/I/91Lr-OxVKj...,"28,878"
3,"Samsung Galaxy M31 Prime Edition (Space Black,...","16,499",https://m.media-amazon.com/images/I/71Sinqbw35...,"125,599"
4,"Redmi 9 Power (Blazing Blue, 4GB RAM, 64GB Sto...","10,999",https://m.media-amazon.com/images/I/71XbGanz3q...,818
...,...,...,...,...
571,"Samsung Galaxy M31 Prime Edition (Ocean Blue, ...","16,499",https://m.media-amazon.com/images/I/71zb0UaK0P...,"125,599"
572,"Samsung Galaxy M31 (Space Black, 6GB RAM, 64GB...","15,999",https://m.media-amazon.com/images/I/71OxJeyywS...,"125,599"
573,"Redmi Note 9 Pro Max (Champagne Gold, 6GB RAM,...","18,499",https://m.media-amazon.com/images/I/81Ox29uGzN...,"26,295"
574,"Redmi Note 9 (Aqua Green, 6GB RAM 128GB Storag...","14,499",https://m.media-amazon.com/images/I/81EjHa-dSJ...,"24,305"
575,Nokia 5.3 Android One Smartphone with Quad Cam...,"13,499",https://m.media-amazon.com/images/I/61L1ItFgFH...,"2,545"

# 8.National Weather Forecasting

In [103]:
#Importing necesary libraries
import pandas as pd
from selenium import webdriver
import selenium

In [104]:
#Creating empty lists
Period=[]
Short_description=[]
Temperature=[]
Description=[]

In [105]:
#webdriver's address
driver8=webdriver.Chrome(r"C:/Users/THIS PC/Downloads/chromedriver_win32/chromedriver.exe")

In [106]:
#url of the website which needs to be scrapped
url="https://forecast.weather.gov/MapClick.php?lat=37.777120000000025&lon=-122.41963999999996#.YAGuYOgzY70"

In [107]:
driver8.get(url)

In [108]:
#Extracting the period
periodtag=driver8.find_elements_by_xpath('//p[@class="period-name"]')
for i in periodtag:
     Period.append(i.text)
        
#Extracting short description
shorttag=driver8.find_elements_by_xpath('//p[@class="short-desc"]')
for i in shorttag:
    Short_description.append(i.text)
    

#Extracting the description    
desc=driver8.find_elements_by_xpath('//div[@class="col-sm-10 forecast-text"]')
for i in desc:
    Description.append(i.text)

In [109]:
data8=list(zip(Period,Short_description,Description))

In [110]:
#Creating dataframe
df8=pd.DataFrame(data8,columns=["Period","Short_description",'Description'])

In [112]:
df8=df8.iloc[1:]

In [113]:
df8

,Period,Short_description,Description
1,M.L.King\nDay,Sunny,"Clear, with a low around 52. Breezy, with a no..."
2,Tonight,Clear then\nMostly Clear\nand Breezy,"Sunny, with a high near 66. North northeast wi..."
3,Tuesday,Sunny,"Clear, with a low around 46. North northeast w..."
4,Tuesday\nNight,Clear,"Sunny, with a high near 64. Calm wind becoming..."
5,Wednesday,Sunny,"Mostly clear, with a low around 45."
6,Wednesday\nNight,Mostly Clear,"Mostly sunny, with a high near 61."
7,Thursday,Mostly Sunny,"Partly cloudy, with a low around 46."
8,Thursday\nNight,Partly Cloudy,"Mostly sunny, with a high near 57."