# Importing all the required libraries

In [1]:
#Importing required libraies
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
import time as t
import numpy as np
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.common.exceptions import ElementNotInteractableException
from selenium.common.exceptions import ElementClickInterceptedException
from selenium.webdriver.common.action_chains import ActionChains

# 1.List_of_most-viewed_YouTube_videos

In [2]:
#webdriver address
driver=webdriver.Chrome(r"C:/Users/THIS PC/Downloads/chromedriver_win32/chromedriver.exe")

In [3]:
#Getting wikipedia's url
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [4]:
#Creating empty lists
Rank=[]
Name=[]
Artist=[]
Upload_date=[]
Views=[]

In [5]:
#Extracting rank
try:
    rank=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[1]')
    for i in rank:
        Rank.append(i.text)
        
except NoSuchElementException:
    Rank.append("-")
    
#Extracting name
    
try:
    name=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[2]/a')
    for i in name:
        Name.append(i.text)
except NoSuchElementException:
    Name.append("-")
    
#Extracting artist
    
try:
    artist=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[3]/a')
    for i in artist:
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append("-")
    
#Extracting views
    
try:
    view=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[4]')
    for i in view:
        Views.append(i.text)
except NoSuchElementException:
    Views.append("-")

#Extracting upload date    
    
try:
    upload=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[5]')
    for i in upload:
        Upload_date.append(i.text)

except NoSuchElementException:
    Upload_date.append("-")

In [6]:
#Creating lists
data=list(zip(Rank,Name,Artist,Views,Upload_date))

In [7]:
#The dataframe
df=pd.DataFrame(data,columns=["Rank","Name","Artist","Views","Upload_date"])

In [8]:
#Set starting index from 1
df.index = np.arange(1, len(df) + 1)

In [9]:
df[0:10]

,Rank,Name,Artist,Views,Upload_date
1,1.,Baby Shark Dance,Pinkfong,7.91,"June 17, 2016"
2,2.,Despacito,Luis Fonsi,7.20,"January 12, 2017"
3,3.,Shape of You,Daddy Yankee,5.18,"January 30, 2017"
4,4.,See You Again,Ed Sheeran,4.96,"April 6, 2015"
5,5.,Johny Johny Yes Papa,Wiz Khalifa,4.77,"October 8, 2016"
6,6.,Uptown Funk,Charlie Puth,4.41,"January 31, 2012"
7,7.,Gangnam Style,Mark Ronson,4.09,"November 19, 2014"
8,8.,Sorry,Bruno Mars,3.97,"July 15, 2012"
9,9.,Sugar,Psy,3.69,"February 27, 2018"
10,10.,Roar,Cocomelon – Nursery Rhymes,3.64,"May 2, 2018"

In [10]:
driver.close()

# 2.India’s international fixtures from bcci.tv

In [11]:
#webdriver address
driver=webdriver.Chrome(r"C:/Users/THIS PC/Downloads/chromedriver_win32/chromedriver.exe")

In [12]:
#Getting bci's url
driver.get('https://www.bcci.tv/')

In [13]:
#Navigating to fixture 
driver.find_element_by_xpath('//div[@class="navigation__drop-down drop-down drop-down--reveal-on-hover"]').click()

In [14]:
#Locating fixture
a=driver.find_element_by_xpath('//a[@class="navigation__link navigation__link--in-drop-down"]')
a.click()
t.sleep(10)

In [15]:
#Creating empty lists
Match_title=[]
Series=[]
Place=[]
Date=[]
Time=[]
Month=[]

In [16]:
#Eplicit delay
delay=10

In [17]:
#Extract Series
try:
    series=driver.find_elements_by_xpath('//span[@class="u-unskewed-text fixture__format"]')
    for i in series:
        Series.append(i.text)
except e:
    Series.append("-")
    
#Extract mathes    

try:
    match=driver.find_elements_by_xpath('//strong[@class="fixture__name fixture__name--with-margin"]')
    for i in match:
        Match_title.append(i.text)
except e:
    Match_title.append("-")
    
    
#Extract time
try: 
    time=driver.find_elements_by_xpath('//span[@class="fixture__time"]')
    for i in time:
        Time.append(i.text)
except e:
    Time.append("-")
    
#Extract date
try:
    date=driver.find_elements_by_xpath('//span[@class="fixture__date"]')
    for i in date:
        Date.append(i.text)
except e:
    Date.append("-")
    
#Extract month

try:
    month=driver.find_elements_by_xpath('//span[@class="fixture__month"]')
    for i in month:
        Month.append(i.text)
except e :
    Month.append("-")
    
#Extracting place 
try:
    place=driver.find_elements_by_xpath('//p[@class="fixture__additional-info"]/span')
    for i in place:
        Place.append(i.text)
except e:
    Place.append("-")

In [18]:
#Creating list
data=list(zip(Series,Match_title,Time,Date,Month,Place))

In [19]:
#The dataframe
df=pd.DataFrame(data,columns=["Series","Match_title","Time","Date","Month","Place"])

In [20]:
#Concatinating month and d date
df["Date"]=df["Date"].astype(str)+ " / "+ df["Month"]

In [21]:
#Dropping month
df.drop(["Month"],axis=1,inplace=True)

In [22]:
#set starting index from 1

df.index = np.arange(1, len(df) + 1)

In [23]:
df

,Series,Match_title,Time,Date,Place
1,TEST,2nd Test,09:30 IST,13 / FEBRUARY,"M. A. Chidambaram Stadium, Chennai"
2,TEST,3rd Test,14:30 IST,24 / FEBRUARY,"Sardar Patel Stadium, Ahmedabad"
3,TEST,4th Test,09:30 IST,04 / MARCH,"Sardar Patel Stadium, Ahmedabad"
4,T20I,1st T20I,19:00 IST,12 / MARCH,"Sardar Patel Stadium, Ahmedabad"
5,T20I,2nd T20I,19:00 IST,14 / MARCH,"Sardar Patel Stadium, Ahmedabad"
6,T20I,3rd T20I,19:00 IST,16 / MARCH,"Sardar Patel Stadium, Ahmedabad"
7,T20I,4th T20I,19:00 IST,18 / MARCH,"Sardar Patel Stadium, Ahmedabad"
8,T20I,5th T20I,19:00 IST,20 / MARCH,"Sardar Patel Stadium, Ahmedabad"
9,ODI,1st ODI,13:30 IST,23 / MARCH,"Maharashtra Cricket Association Stadium, Pune"
10,ODI,2nd ODI,13:30 IST,26 / MARCH,"Maharashtra Cricket Association Stadium, Pune"
11,ODI,3rd ODI,13:30 IST,28 / MARCH,"Maharashtra Cricket Association Stadium, Pune"
12,TEST,1st Test,15:30 IST,04 / AUGUST,"Trent Bridge, Nottingham"
13,TEST,2nd Test,15:30 IST,12 / AUGUST,"Lord's, London"
14,TEST,3rd Test,15:30 IST,25 / AUGUST,"Headingley, Leeds"
15,TEST,4th Test,15:30 IST,02 / SEPTEMBER,"The Oval, London"
16,TEST,5th Test,15:30 IST,10 / SEPTEMBER,"Old Trafford, Manchester"

In [24]:
driver.close()

# 3.Selenium exception from guru99.com.

In [25]:
#webdriver address
driver=webdriver.Chrome(r"C:/Users/THIS PC/Downloads/chromedriver_win32/chromedriver.exe")

In [26]:
#Getting gurru99's url
driver.get('https://www.guru99.com/')

In [27]:
#Explicit delay
delay=4

In [28]:
#Implicit delay
WebDriverWait(driver,delay).until(EC.element_to_be_clickable((By.XPATH,'//div[@class="featured-box cloumnsize1"]/ul[1]/li[3]')))

In [29]:
#Creating empty lists
Exception_Name=[]
Description=[]

In [30]:
#Locating testing window
testin_window=driver.find_elements_by_xpath('//div[@class="featured-box cloumnsize1"]/ul[1]')
for i in testin_window:
    driver.find_element_by_xpath('//div[@class="featured-box cloumnsize1"]/ul[1]/li[3]').click()

In [31]:
#Navigating to testig wndow and locating selenium
try:
    selenium=driver.find_element_by_xpath('//main[@id="g-mainbar"]/div/div/div/div/div/div/div[2]/table[5]/tbody/tr[34]/td[1]/a').click()
    
except ElementNotInteractableException:
    my_href=selenium.get_attribute('href')
    print("Exception raised")
    driver.execute_script("window.open('" + my_href +"');")

In [32]:
#Extracting exception
exception=driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[1]')
for i in exception:
        Exception_Name.append(i.text)

In [33]:
#Extracting description
description=driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[2]')
for i in description:
    Description.append(i.text)

In [34]:
#Creating data
data=list(zip(Exception_Name,Description))

In [35]:
#Creating data frame
df=pd.DataFrame(data,columns=["Exception_Name","Description"])

In [36]:
#Slicing off first row
df=df[1:]

In [37]:
#The finale data frame
df

,Exception_Name,Description
1,ElementNotVisibleException,This type of Selenium exception occurs when an...
2,ElementNotSelectableException,This Selenium exception occurs when an element...
3,NoSuchElementException,This Exception occurs if an element could not ...
4,NoSuchFrameException,This Exception occurs if the frame target to b...
5,NoAlertPresentException,This Exception occurs when you switch to no pr...
6,NoSuchWindowException,This Exception occurs if the window target to ...
7,StaleElementReferenceException,This Selenium exception occurs happens when th...
8,SessionNotFoundException,The WebDriver is acting after you quit the bro...
9,TimeoutException,Thrown when there is not enough time for a com...
10,WebDriverException,This Exception takes place when the WebDriver ...
11,ConnectionClosedException,This type of Exception takes place when there ...
12,ElementClickInterceptedException,The command may not be completed as the elemen...
13,ElementNotInteractableException,This Selenium exception is thrown when any ele...
14,ErrorInResponseException,This happens while interacting with the Firefo...
15,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
16,ImeActivationFailedException,This expectation will occur when IME engine ac...
17,ImeNotAvailableException,It takes place when IME support is unavailable.
18,InsecureCertificateException,Navigation made the user agent to hit a certif...
19,InvalidArgumentException,It occurs when an argument does not belong to ...
20,InvalidCookieDomainException,This happens when you try to add a cookie unde...
21,InvalidCoordinatesException,This type of Exception matches an interacting ...
22,InvalidElementStateExceptio,It occurs when command can't be finished when ...
23,InvalidSessionIdException,This Exception took place when the given sessi...
24,InvalidSwitchToTargetException,This occurs when the frame or window target to...
25,JavascriptException,This issue occurs while executing JavaScript g...
26,JsonException,It occurs when you afford to get the session w...
27,NoSuchAttributeException,This kind of Exception occurs when the attribu...
28,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
29,NoSuchContextException,ContextAware does mobile device testing.
30,NoSuchCookieException,This Exception occurs when no cookie matching ...
31,NotFoundException,This Exception is a subclass of WebDriverExcep...
32,RemoteDriverServerException,This Selenium exception is thrown when the ser...
33,ScreenshotException,It is not possible to capture a screen.
34,SessionNotCreatedException,It happens when a new session could not be suc...
35,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
36,UnexpectedTagNameException,Happens if a support class did not get a web e...
37,UnhandledAlertException,This expectation occurs when there is an alert...
38,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
39,UnknownMethodException,This Exception happens when the requested comm...
40,UnreachableBrowserException,This Exception occurs only when the browser is...
41,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

In [38]:
driver.close()

# 4.State-wise GDP of India from statisticstime.com.

In [39]:
#webdriver address
driver=webdriver.Chrome(r"C:/Users/THIS PC/Downloads/chromedriver_win32/chromedriver.exe")

In [40]:
#Getting statistis's url
driver.get('http://statisticstimes.com/')

In [41]:
#delay
t.sleep(20)

In [42]:
actions = ActionChains(driver)

In [43]:
#Locating economy in the navigation bar and clicking the dropdown button
a=driver.find_element_by_xpath('//div[@class="navbar"]/div[2]/button/i')

#selectin country in the available dropdowns under economy
country=driver.find_element_by_xpath('//div[@class="navbar"]/div[2]/div/a[3]')

In [44]:
#clicking
actions.click(a)
actions.click(country)

In [46]:
actions.perform()

In [47]:
#Selecting the GDP of india
gdp=driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
gdp.click()

In [48]:
#Creating empty lists
Rank=[]
State=[]
GSDP_19_20=[]
GSDP_18_19=[]
Share_2018=[]
GDP_billion=[]

In [49]:
#Extracting rank
try:
    rank=driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[1]')
    for i in rank:
        Rank.append(i.text)
except NoSuchElementExeption:
    Rank.append("-")



#Extracting state
try:
    state=driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[2]')
    for i in state:
        State.append(i.text)
except NoSuchElementException:
    State.append("-")
    
    
#Extracting gspd 19-20
try:
    gsdp1=driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[3]')
    for i in gsdp1:
        GSDP_19_20.append(i.text)
except NoSuchElementException:
    GSDP_19_20.append("-")    
    
    
        
#Extracting gspd 18-19
try:
    gsdp2=driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[3]')
    for i in gsdp2:
        GSDP_18_19.append(i.text)
except NoSuchElementException:
    GSDP_18_19.append("-")
    
    
#Extracting share 2018
try:
    share=driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[4]')
    for i in share:
        Share_2018.append(i.text)
except NoSuchElementException:
    Share_2018.append("-")

    
#Extracting gdb billion
try:
    gdp=driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[5]')
    for i in gdp:
        GDP_billion.append(i.text)
except NoSuchElementException:
    GDP_billion.append("-")

In [50]:
#Creating list
data=list(zip(Rank,State,GSDP_18_19,GSDP_19_20,Share_2018,GDP_billion))

In [51]:
df=pd.DataFrame(data,columns=["Rank","State","GSDP_18_19","GSDP_19_20","Share_2018","GDP_billion"])

In [52]:
#set starting index from 1

df.index = np.arange(1, len(df) + 1)

In [53]:
df

,Rank,State,GSDP_18_19,GSDP_19_20,Share_2018,GDP_billion
1,1,Maharashtra,-,-,"2,632,792",13.88%
2,2,Uttar Pradesh,"1,794,508","1,794,508","1,668,229",8.79%
3,3,Tamil Nadu,"1,845,853","1,845,853","1,630,208",8.59%
4,4,Karnataka,"1,699,115","1,699,115","1,544,399",8.14%
5,5,Gujarat,-,-,"1,502,899",7.92%
6,6,West Bengal,"1,253,832","1,253,832","1,089,898",5.75%
7,7,Rajasthan,"1,020,989","1,020,989","942,586",4.97%
8,8,Andhra Pradesh,"972,782","972,782","862,957",4.55%
9,9,Telangana,"969,604","969,604","861,031",4.54%
10,10,Madhya Pradesh,"906,672","906,672","809,592",4.27%
11,11,Kerala,-,-,"781,653",4.12%
12,12,Delhi,"856,112","856,112","774,870",4.08%
13,13,Haryana,"831,610","831,610","734,163",3.87%
14,14,Bihar,"611,804","611,804","530,363",2.80%
15,15,Punjab,"574,760","574,760","526,376",2.77%
16,16,Odisha,"531,374","531,374","492,229",2.59%
17,17,Assam,-,-,"315,881",1.67%
18,18,Chhattisgarh,"329,180","329,180","304,063",1.60%
19,19,Jharkhand,"328,598","328,598","297,204",1.57%
20,20,Uttarakhand,-,-,"245,895",1.30%
21,21,Jammu & Kashmir,-,-,"155,956",0.82%
22,22,Himachal Pradesh,"165,472","165,472","153,845",0.81%
23,23,Goa,-,-,"73,170",0.39%
24,24,Tripura,"55,358","55,358","49,845",0.26%
25,25,Chandigarh,-,-,"42,114",0.22%
26,26,Puducherry,"40,802","40,802","36,656",0.19%
27,27,Meghalaya,"36,572","36,572","33,481",0.18%
28,28,Sikkim,"32,496","32,496","28,723",0.15%
29,29,Manipur,-,-,"27,869",0.15%
30,30,Nagaland,-,-,"27,283",0.14%
31,31,Arunachal Pradesh,-,-,"24,603",0.13%
32,32,Mizoram,-,-,"19,520",0.10%
33,33,Andaman & Nicobar Islands,-,-,-,-

In [55]:
driver.close()

# 5.Details of trending repositories on Github.com

In [56]:
#webdriver address
driver=webdriver.Chrome(r"C:/Users/THIS PC/Downloads/chromedriver_win32/chromedriver.exe")

In [57]:
#Getting wikipedia's url
driver.get('https://github.com/trending')

In [58]:
#Creating empty list
Repository_title=[]
Repository_description=[]
Contributors_count=[]
Language_used=[]

In [59]:
#Extracting repository title
try:
    title=driver.find_elements_by_xpath('//span[@class="text-normal"]')
    for i in title:
        Repository_title.append(i.text)
except NoSuchElementException:
    Repository_title.append("-")
    
#Extrcating Repository description
try:
    description=driver.find_elements_by_xpath('//p[@class="col-9 text-gray my-1 pr-4"]')
    for i in description:
        Repository_description.append(i.text)
except NoSuchElementException:
    Repository_description.append("-")
#Extractin Contributors count    
try:
    count=driver.find_elements_by_xpath('//a[@class="muted-link d-inline-block mr-3"]')
    for i in count:
        Contributors_count.append(i.text)
except NoSuchElementException:
    Contributors_count.append("-")

#Extracting Languages used    
try:
    lan=driver.find_elements_by_xpath('//span[@class="d-inline-block ml-0 mr-3"]/span[2]')
    for i in lan:
        Language_used.append(i.text)
except NoSuchElementException:
    Language_used.append("-")

In [60]:
#Creating  lists
data=list(zip(Repository_title,Repository_description,Contributors_count,Language_used))

In [61]:
#CReating dataframe
df=pd.DataFrame(data,columns=["Repository_title","Repository_description","Contributors_count","Language_used"])

In [62]:
df

,Repository_title,Repository_description,Contributors_count,Language_used
0,libsdl-org /,Simple Directmedia Layer,549,C
1,Azure /,Azure Quickstart Templates,29,PowerShell
2,system76 /,System76 Launch Configurable Keyboard,"9,483",Shell
3,benbjohnson /,Streaming S3 replication for SQLite.,"12,241",Go
4,mbround18 /,Valheim Docker server with Odin the CLI tool.,819,Rust
5,deepmind /,This repository contains implementations and i...,17,Jupyter Notebook
6,satwikkansal /,What the f*ck Python? 😱,"2,093",Python
7,vlang /,"Simple, fast, safe, compiled language for deve...",34,V
8,serhii-londar /,🚀 Awesome list of open source applications for...,117,Swift
9,PowerShell /,PowerShell for every system!,14,C#
10,ossu /,🎓 Path to a free self-taught education in Comp...,"5,255",JavaScript
11,iptv-org /,Collection of 5000+ publicly available IPTV ch...,987,TypeScript
12,streamich /,React Hooks — 👍,"24,715",TypeScript
13,Azure /,The source for REST API specifications for Mic...,"2,106",HTML
14,adityatelange /,"A fast, clean, responsive Hugo theme","22,291",JavaScript
15,reactend /,React renderer to build Node.js server,"1,327",JavaScript
16,flybywiresim /,The A32NX Project is a community driven open s...,"24,892",Go
17,Dimbreath /,Repository containing the game data for the ga...,"1,655",Python
18,hashicorp /,"A tool for secrets management, encryption as a...","24,415",Kotlin
19,abhishekkrthakur /,Run VSCode (codeserver) on Google Colab or Kag...,"3,926",Go
20,florisboard /,An open-source keyboard for Android. Currently...,"75,141",Python
21,goreleaser /,Deliver Go binaries as fast and easily as poss...,"10,831",C#

In [63]:
driver.close()

# 6.Details of top 100 songs on billiboard.com

In [64]:
#webdriver address
driver=webdriver.Chrome(r"C:/Users/THIS PC/Downloads/chromedriver_win32/chromedriver.exe")

In [65]:
#Getting billboard's url
driver.get('https://www.billboard.com')

In [66]:
#Locating hot100
hot100=driver.find_element_by_xpath('//*[@id="root"]/div[2]/div[2]/nav/ul/li[3]/a')

In [67]:
#Click
hot100.click()

In [68]:
#Creating empty lists
Song_name=[]
Artist_name=[]
Last_week_rank=[]
Peak_rank=[]
Weeks_on_board=[]

In [69]:
#Extracting Song name
try:
    song=driver.find_elements_by_xpath('//*[@id="charts"]/div/div[7]/div/ol/li/button/span[2]/span[1]')
    for i in song:
        Song_name.append(i.text)
except NoSuchElementException:
    Song_name.append("-")

#Extracting Artist's name    
try:
    artist=driver.find_elements_by_xpath('//*[@id="charts"]/div/div[7]/div/ol/li/button/span[2]/span[2]')
    for i in artist:
        Artist_name.append(i.text)
except NoSuchElementException:
    Artist_name.append("-")
    
#Extracting rank            
try:
    rank=driver.find_elements_by_xpath('//*[@id="charts"]/div/div[7]/div/ol/li/button/div/div[2]')
    for i in rank:
        Last_week_rank.append(i.text)
except NoSuchElementException:
    Last_week_rank_append("-")

#Extracting peak rank    
try:
    peak=driver.find_elements_by_xpath('//*[@id="charts"]/div/div[7]/div/ol/li/button/div/div[3]')
    for i in peak:
        Peak_rank.append(i.text)
except NoSuchElementException:
    Peak_rank.append("-")

#Extracting Weeks on board    
try:
    week=driver.find_elements_by_xpath('//*[@id="charts"]/div/div[7]/div/ol/li/button/div/div[4]')
    for i in week:
        Weeks_on_board.append(i.text)
except NoSuchElementException:
    Weeks_on_board.append("-")

In [70]:
#Creating lists
data=list(zip(Song_name,Artist_name,Last_week_rank,Peak_rank,Weeks_on_board))

In [71]:
#Ceating dataframe
df=pd.DataFrame(data,columns=["Song_name","Artist_name","Last_week_rank","Peak_rank","Weeks_on_board"])

In [72]:
df

,Song_name,Artist_name,Last_week_rank,Peak_rank,Weeks_on_board
0,Drivers License,Olivia Rodrigo,1,1,4
1,Mood,24kGoldn Featuring iann dior,1,26,8
2,Blinding Lights,The Weeknd,1,61,13
3,34+35,Ariana Grande,2,14,16
4,Levitating,Dua Lipa Featuring DaBaby,5,18,22
5,Go Crazy,Chris Brown & Young Thug,5,39,4
6,Positions,Ariana Grande,1,15,24
7,Save Your Tears,The Weeknd,14,8,25
8,Holy,Justin Bieber Featuring Chance The Rapper,3,20,4
9,Whoopty,CJ,16,10,9
10,Good Days,SZA,9,6,18
11,Lonely,Justin Bieber & benny blanco,13,12,4
12,What You Know Bout Love,Pop Smoke,19,13,23
13,Therefore I Am,Billie Eilish,2,13,5
14,For The Night,Pop Smoke Featuring Lil Baby & DaBaby,6,31,32
15,Bang!,AJR,8,31,1
16,Better Together,Luke Combs,15,18,16
17,Streets,Doja Cat,25,18,4
18,I Hope,Gabby Barrett Featuring Charlie Puth,3,58,9
19,Body,Megan Thee Stallion,12,11,12
20,Dakiti,Bad Bunny & Jhay Cortez,5,14,16
21,Lemonade,Internet Money & Gunna Featuring Don Toliver &...,6,25,8
22,You Broke Me First.,Tate McRae,27,23,1
23,Laugh Now Cry Later,Drake Featuring Lil Durk,2,25,6
24,My Ex's Best Friend,Machine Gun Kelly X blackbear,34,25,8
25,Wasted On You,Morgan Wallen,31,9,6
26,You're Mines Still,Yung Bleu Featuring Drake,32,27,7
27,Anyone,Justin Bieber,6,5,3
28,Willow,Taylor Swift,1,8,6
29,On Me,Lil Baby,29,9,15
30,Good Time,Niko Moon,37,31,4
31,Sand In My Boots,Morgan Wallen,38,32,3
32,Throat Baby (Go Baby),BRS Kash,24,16,6
33,Before You Go,Lewis Capaldi,9,50,5
34,7 Summers,Morgan Wallen,6,24,5
35,Starting Over,Chris Stapleton,36,25,6
36,Back In Blood,Pooh Shiesty Featuring Lil Durk,40,37,1
37,More Than My Hometown,Morgan Wallen,30,15,10
38,Finesse Out The Gang Way,Lil Durk Featuring Lil Baby,-,39,1
39,Hole In The Bottle,Kelsea Ballerini,42,40,4
40,Kings & Queens,Ava Max,13,26,4
41,Best Friend,Saweetie Featuring Doja Cat,45,39,4
42,Cry Baby,Megan Thee Stallion Featuring DaBaby,54,43,4
43,Rockstar,DaBaby Featuring Roddy Ricch,1,41,4
44,Afterglow,Ed Sheeran,29,7,3
45,Dynamite,BTS,1,24,4
46,Happy Does,Kenny Chesney,50,47,3
47,Somebody's Problem,Morgan Wallen,25,8,1
48,Whats Poppin,"Jack Harlow Featuring DaBaby, Tory Lanez & Lil...",2,51,2
49,Put Your Records On,Ritt Momney,55,50,6
50,Damage,H.E.R.,52,51,8
51,Without You,The Kid LAROI,47,9,4
52,Should've Ducked,Lil Durk Featuring Pooh Shiesty,-,53,1
53,Just The Way,Parmalee x Blanco Brown,56,54,3
54,Beers And Sunshine,Darius Rucker,53,53,2

In [73]:
driver.close()

# 7.Details of Data science recruiters from naukri.com

In [74]:
#webdriver address
driver=webdriver.Chrome(r"C:/Users/THIS PC/Downloads/chromedriver_win32/chromedriver.exe")

In [75]:
#Getting naukri's url
driver.get('https://www.naukri.com/')

In [76]:
actions = ActionChains(driver)

In [77]:
#Locating recruiters
recruiters=driver.find_element_by_xpath("//a[@title='Search Recruiters']")

driver.get(recruiters.get_attribute('href'))

In [78]:
#accesing search bar

search_bar=driver.find_element_by_xpath("//input[@class='sugInp']")

search_bar.send_keys("Data Science")

In [79]:
#Search Button
search=driver.find_element_by_xpath('//*[@id="qsbFormBtn"]')

In [80]:
#Clicking using action
actions.click(search)
actions.perform()

In [81]:
#CReating empty lists
Name=[]
Designation=[]
Company=[]
Location=[]
Skills_they_hire_for=[]

In [82]:
#Extracting Name
try:
    name=driver.find_elements_by_xpath('//span[@class="fl ellipsis"]')
    for i in name:
        Name.append(i.text)
except NoSuchElementException:
    Name.append("-")
    
#Extracting Designation    
try:
    des=driver.find_elements_by_xpath('//span[@class="ellipsis clr"]')
    for i in des:
        Designation.append(i.text)
except NoSuchElementException:
    Designation.append("-")   
    
#Extractin Company name    
try:
    company=driver.find_elements_by_xpath('//a[@class="ellipsis"]')
    for i in company:
        Company.append(i.text)
except NoSuchElementException:
    Company.append("-")    
#Extracting loation    
try:
    loc=driver.find_elements_by_xpath('//small[@class="ellipsis"]')
    for i in loc:
        Location.append(i.text)
except NoSuchElementException:
    Location.append("-")    

#Extracting skills    
try:
    skills=driver.find_elements_by_xpath('//div[@class="hireSec highlightable"]')
    for i in skills:
        Skills_they_hire_for.append(i.text)
except NoSuchElementException:
    Skills_they_hire_for.append("-")

In [83]:
#Creating lists
data=list(zip(Name,Designation,Company,Location,Skills_they_hire_for))

In [84]:
#CReating dataframe
df=pd.DataFrame(data,columns=["Name","Designation","Company","Location","Skills_they_hire_for"])

In [85]:
df

,Name,Designation,Company,Location,Skills_they_hire_for
0,Aakash Harit,HR Manager,Aakash Harit,Delhi,"Classic ASP Developer, Internet Marketing Prof..."
1,shravan Kumar Gaddam,Company Recruiter,Data Science Network,Hyderabad / Secunderabad,".Net, Java, Data Science, Linux Administration..."
2,Talent Acquisition Executive,Recruitment Professional,shravan Kumar Gaddam,Chandigarh,"Web Designing, html5, Angular.js, seo, hadoop,..."
3,Anik Agrawal,Company Recruiter,Shore Infotech India Pvt. Ltd,Ahmedabad,"Mean Stack, javascript, angularjs, mongodb, We..."
4,MARSIAN Technologies LLP,Company HR,Talent Acquisition Executive,Pune,"Data Science, Artificial Intelligence, Machine..."
5,subhas patel,Founder CEO,XenonStack,UK - (london),"Hadoop, Spark, Digital Strategy, Data Architec..."
6,Jitendra Singh,Manager- Talent Acquisition,Anik Agrawal,Delhi,"Python, Data Science, .Net, Java, Big Data, Da..."
7,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Enerlytics Software Solutions Pvt Ltd,Vadodara / Baroda,"Analytics, Business Intelligence, Business Ana..."
8,Institute for Financial Management and Resear,Programme Manager,MARSIAN Technologies LLP,Chennai,Data Science
9,Balu Ramesh,HR Administrator,MARSIAN Technologies LLP,Trivandrum,"Machine Learning, algorithms, Go Getter, Compu..."
10,Asif Lucknowi,Director,subhas patel,Indore,"Technical Training, Software Development, Pres..."
11,InstaFinancials,Human Resource,LibraryXProject,Bengaluru / Bangalore,"Software Development, It Sales, Account Manage..."
12,Kalpana Dumpala,Executive Hiring,Jitendra Singh,Hyderabad / Secunderabad,"Qa, Ui/ux, Java Developer, Java Architect, C++..."
13,Mubarak,Company HR,Compunnel Technology India Pvt. Ltd,Bengaluru / Bangalore,"Business Intelligence, Data Warehousing, Data ..."
14,Kushal Rastogi,Company HR,Abhishek - Only Analytics Hiring - India and,Mumbai,"Office Administration, Hr Administration, tele..."
15,Manisha Yadav,HR Executive,Apidel Technologies Division of Transpower,Navi Mumbai,"Telecalling, Client Interaction, Marketing, Re..."
16,Kapil Devang,HR Manager,Institute for Financial Management and Resear,Bhopal,"Big Data, Hadoop, Data Analytics, Data Science"
17,Riya Rajesh,Manager Talent Acquisition,IFMR,Cochin,Data Science
18,Mahesh Babu Channa,HR Team Lead,Balu Ramesh,Hyderabad / Secunderabad,"Social Media, digital media maketing, seo, smm..."
19,Rashmi Bhattacharjee,HR Head,Techvantage Systems Pvt Ltd,Delhi,"Corporate Sales, Software Development, Softwar..."
20,Faizan Kareem,HR MANAGER,Asif Lucknowi,Hyderabad / Secunderabad,"Data Analytics, Data Science, Machine Learning..."
21,Rithika dadwal,HR Recruiter,Weupskill- Live Wire India,Pune,"Data Science, Machine Learning, Python, R, Dee..."
22,Azahar Shaikh,Company Recruiter,InstaFinancials,Pune,"Data Science, Artificial Intelligence, Machine..."
23,Sandhya Khandagale,HR Recruiter,CBL Data Science Private Limited,Pune,"Big Data, Data Science, Artificial Intelligenc..."
24,Shaun Rao,Manager Human Resources,Kalpana Dumpala,Pune,"Java, Net, Angularjs, Hr, Infrastructure, Mana..."
25,Manas,Lead Talent acquisition,Innominds Software,Bengaluru / Bangalore,"Software Architecture, Vp Engineering, Product..."
26,kumar,Proprietor,Mubarak,Bengaluru / Bangalore,"Data Science, Hadoop, Rpas, Devops, Python, Aw..."
27,Sunil Vedula,CEO,MoneyTap,Delhi,"Signal Processing, Machine Learning, Neural Ne..."
28,Rajat Kumar,Founder CEO,Kushal Rastogi,Mysoru / Mysore,"Web Technologies, Project Management, Software..."
29,Jayanth N,Project Manager,QuantMagnum Technologies Pvt. Ltd.,Noida,"Data Analytics, Managed Services, Team Leading..."
30,Prateek Kumar,Head,Manisha Yadav,Hyderabad / Secunderabad,"Java, Python, Angularjs, Software Testing, Mac..."
31,SREEDHAR,Recruitment Consultant,Easi Tax,New Delhi,"Data Science, Machine Learning, Big Data Analy..."
32,Amit Sharma,Consultant,Kapil Devang,Chennai,"Machine Learning, Artificial Intelligence, Dat..."
33,Kanan,senior technology instructor,BISP Solutions,Aligarh,"C, C++, Artificial Intelligence, Python, Php, ..."
34,Shashikant Chaudhary,HR Recruiter/HR Excutive,Riya Rajesh,Salt Lake City,"Relationship Management, Retail Sales, Private..."
35,Brad,"Manager, Technical Recruiting",Novelworx Digital Solutions,Pune,"Data Science, Software Engineering"
36,Rutuja Pawar,Technical Recruiter,Mahesh Babu Channa,Bengaluru / Bangalore,"Data Science, Big Data Analytics, Digital Mark..."
37,Madhusudhan Sridhar,Erp Implementer,SocialPrachar.com,Mumbai,"Data Science, Recruitment, Salary"
38,Ankit Sinha,Head Analytics,Rashmi Bhattacharjee,Indore,"B.Tech, Tableau, Statistics, R, Analytics, Tim..."
39,Gaurav Chouhan,Chief Technical Officer,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,Bengaluru / Bangalore,"Software Development, Business Intelligence, B..."
40,Rashi Kacker,Sr Product Manager,Faizan Kareem,MYSORE,"Data Science, Node.js, Angularjs"
41,Ashwini,Director Global Delivery,FirstTech Consaltants Pvt.Ltd,Hyderabad / Secunderabad,"Data Science, Media Marketing, Resource Planni..."
42,Balaji Kolli,Co Founder,Rithika dadwal,Bengaluru / Bangalore,"Data Analysis, Learning, Data Science, Compute..."
43,Rajani Nagaraj,HR Manager,Affine Analytics,Mumbai,"Java, Hadoop, R, Machine Learning, Spark, Flum..."
44,ROHIT Kumar,Architect,Azahar Shaikh,Noida,"Software Development, Core Java, Unit Testing,..."
45,Amir Chowdhury,Managing Partner,NEAL ANALYTICS SERVICES PVT LTD,Mumbai,"Machine Learning, Data Science, Product Manage..."
46,Shailja Mishra,HR Manager,Sandhya Khandagale,Bengaluru / Bangalore,"consulting, Education Counseling, Educational ..."
47,Sunny Sharma,Managing Director - HR,Compumatrice Multimedia Pvt Ltd,Chennai,"Software Professionals, Engineering, Technical..."

In [86]:
driver.close()

# 8.Details of Highest selling novels

In [87]:
#webdriver address
driver=webdriver.Chrome(r"C:/Users/THIS PC/Downloads/chromedriver_win32/chromedriver.exe")

In [88]:
#Getting guardian's url
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [89]:
#Creating empty lists
Name=[]
Author=[]
Volume_Sold=[]
Publisher=[]
Genre=[]

In [90]:
#Extracting name of the book
try:
    name=driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[2]')
    for i in name:
        Name.append(i.text)
except NoSuchElementException:
    Name.append("-")
    
#Extracting the author's name   
try:
    author=driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[3]')
    for i in author:
        Author.append(i.text)
except NoSuchElementException:
    Author.append("-")
    
#Extracting number of  Volume sold
try:
    volume=driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[4]')
    for i in name:
        Volume_Sold.append(i.text)
except NoSuchElementException:
    Volume_Sold.append("-")
    
#Extractin publisher's name    
try:
    publisher=driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[5]')
    for i in name:
        Publisher.append(i.text)
except NoSuchElementException:
    Publisher.append("-")
    
    
#Extracting Genre of the book    
try:
    genre=driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[6]')
    for i in name:
        Genre.append(i.text)
except NoSuchElementException:
    Genre.append("-")

In [91]:
#Creating list
data=list(zip(Name,Author,Volume_Sold,Publisher,Genre))

In [92]:
#Creating dataframe
df=pd.DataFrame(data,columns=["Name","Author","Volume_Sold","Publisher","Genre"])

In [93]:
df

,Name,Author,Volume_Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","Da Vinci Code,The","Da Vinci Code,The","Da Vinci Code,The"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.",Harry Potter and the Deathly Hallows,Harry Potter and the Deathly Hallows,Harry Potter and the Deathly Hallows
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.",Harry Potter and the Philosopher's Stone,Harry Potter and the Philosopher's Stone,Harry Potter and the Philosopher's Stone
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.",Harry Potter and the Order of the Phoenix,Harry Potter and the Order of the Phoenix,Harry Potter and the Order of the Phoenix
4,Fifty Shades of Grey,"James, E. L.",Fifty Shades of Grey,Fifty Shades of Grey,Fifty Shades of Grey
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","Ghost,The","Ghost,The","Ghost,The"
96,Happy Days with the Naked Chef,"Oliver, Jamie",Happy Days with the Naked Chef,Happy Days with the Naked Chef,Happy Days with the Naked Chef
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","Hunger Games,The:Hunger Games Trilogy","Hunger Games,The:Hunger Games Trilogy","Hunger Games,The:Hunger Games Trilogy"
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","Lost Boy,The:A Foster Child's Search for the L...","Lost Boy,The:A Foster Child's Search for the L...","Lost Boy,The:A Foster Child's Search for the L..."
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie",Jamie's Ministry of Food:Anyone Can Learn to C...,Jamie's Ministry of Food:Anyone Can Learn to C...,Jamie's Ministry of Food:Anyone Can Learn to C...

In [94]:
driver.close()

# 9.Most watched tv series of all time from imdb.com

In [95]:
#webdriver address
driver=webdriver.Chrome(r"C:/Users/THIS PC/Downloads/chromedriver_win32/chromedriver.exe")

In [96]:
#Getting imdb's url
driver.get('https://www.imdb.com/list/ls095964455/')

In [97]:
#Creating empty lists
Name=[]
Year_span=[]
Genre=[]
Run_time=[]
Ratings=[]
Votes=[]

In [98]:
#Extractin title of the series
try:
    name=driver.find_elements_by_xpath('//h3[@class="lister-item-header"]/a')
    for i in name:
        Name.append(i.text)
except NoSuchElementException:
    Name.append("-")

#Extracting the year    
try:
    year=driver.find_elements_by_xpath('//span[@class="lister-item-year text-muted unbold"]')
    for i in year:
        Year_span.append(i.text)
except NoSuhElementException:
    Year_span.append("-")
    
#Extracting Genre of series    
try:
    genre=driver.find_elements_by_xpath('//p[@class="text-muted text-small"]/span[5]')
    for i in genre:
        Genre.append(i.text)
except NoSuchElementException:
    Genre.append("-")
    
#Extracting Run time    
try:
    run=driver.find_elements_by_xpath('//p[@class="text-muted text-small"]/span[3]')
    for i in run:
        Run_time.append(i.text)
except NoSuchElementException:
    Run_time.append("-")
    
#Extractin ratings    
try:
    ratings=driver.find_elements_by_xpath('//*[@id="main"]/div/div[3]/div[3]/div/div[2]/div[1]/div[1]/span[2]')
    for i in ratings:
        Ratings.append(i.text)
except NoSuchElementException:
    Ratings.append("-")
    
#Extracting votes    
try:
    votes=driver.find_elements_by_xpath('//div[@class="lister-item-content"]/p[4]/span[2]')
    for i in votes:
        Votes.append(i.text)
except NoSuchElementException:
    Votes.append("-")

In [99]:
#Creating list
data=list(zip(Name,Year_span,Genre,Run_time,Ratings,Votes))

In [100]:
#Creating dataframe
df=pd.DataFrame(data,columns=["Name","Year_span","Genre","Run_time","Ratings","Votes"])

In [101]:
#set starting index from 1

df.index = np.arange(1, len(df) + 1)

In [102]:
df

,Name,Year_span,Genre,Run_time,Ratings,Votes
1,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,769,703"
2,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"822,005"
3,The Walking Dead,(2010– ),"Drama, Horror, Thriller",44 min,8.2,"853,261"
4,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"256,162"
5,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"216,412"
...,...,...,...,...,...,...
96,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"43,586"
97,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"53,862"
98,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"161,174"
99,Scream: The TV Series,(2015–2019),"Crime, Drama, Horror",45 min,7.2,"34,091"
100,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"182,321"

In [103]:
driver.close()

# 10.Details of Datasets from UCI machine learning repositories

In [104]:
#webdriver address
driver=webdriver.Chrome(r"C:/Users/THIS PC/Downloads/chromedriver_win32/chromedriver.exe")

In [105]:
#Getting repository's url
driver.get('https://archive.ics.uci.edu/ml/index.php')

In [106]:
actions = ActionChains(driver)

In [107]:
#locating view all datsets
view=driver.find_element_by_xpath('//span[@class="normal"]/b/a')

In [108]:
#Clicking using action
actions.click(view)
actions.perform()

In [109]:
#Creating empty lists
Dataset_name=[]
Data_type=[]
Task=[]
Attribute_type=[]
No_of_instances=[]
No_of_attribute=[]
Year=[]

In [110]:
#Extracting name of the repository
try:
    name=driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]/table/tbody/tr/td[2]/p/b/a')
    for i in name:
        Dataset_name.append(i.text)
except NoSuchElementException:
    Dataset_name.append("-")
    
#Extracting data type    
try:
    types=driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]/p')
    for i in types:
        Data_type.append(i.text)
except NoSuchElementException:
    Data_type.append("-")
    
#Extracting task    
try:
    task=driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]/p')
    for i in name:
        Task.append(i.text)
except NoSuchElementException:
    Task.append("-")

#Extracting Attribute type    
try:
    attri=driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]/p')
    for i in attri:
        Attribute_type.append(i.text)
except NoSuchElementException:
    Attribute_type.append("-")
    
#Extracting Number of instances    
try:
    insta=driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]/p')
    for i in insta:
        No_of_instances.append(i.text)
except NoSuchElementException:
    No_of_instances.append("-")
    
#Extracting number of attributes    
try:
    noa=driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]/p')
    for i in noa:
        No_of_attribute.append(i.text)
except NoSuchElementException:
    No_of_attribute.append("-")
    
#Extracting year
try:
    year=driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]/p')
    for i in year:
        Year.append(i.text)
except NoSuchElementException:
    Year.append("-")

In [111]:
#Creating list
data=list(zip(Dataset_name,Data_type,Task,Attribute_type,No_of_instances,No_of_attribute,Year))

In [112]:
#Creating dataframe
df=pd.DataFrame(data,columns=["Dataset_name","Data_type","Task","Attribute_type","No_of_instances","No_of_attribute","Year"])

In [113]:
df

,Dataset_name,Data_type,Task,Attribute_type,No_of_instances,No_of_attribute,Year
0,Abalone,Data Types,Abalone,Attribute Types,# Instances,# Attributes,Year
1,Adult,Multivariate,Adult,"Categorical, Integer, Real",4177,8,1995
2,Annealing,Multivariate,Annealing,"Categorical, Integer",48842,14,1996
3,Anonymous Microsoft Web Data,Multivariate,Anonymous Microsoft Web Data,"Categorical, Integer, Real",798,38,
4,Arrhythmia,,Arrhythmia,Categorical,37711,294,1998
...,...,...,...,...,...,...,...
554,IIWA14-R820-Gazebo-Dataset-10Trajectories,Multivariate,IIWA14-R820-Gazebo-Dataset-10Trajectories,"Integer, Real",1000,21,2020
555,Guitar Chords finger positions,,Guitar Chords finger positions,Integer,,,2020
556,Russian Corpus of Biographical Texts,Text,Russian Corpus of Biographical Texts,,2633,5,2020
557,Codon usage,Text,Codon usage,,200,2,2020
558,Intelligent Media Accelerometer and Gyroscope ...,Multivariate,Intelligent Media Accelerometer and Gyroscope ...,,13028,69,2020

In [114]:
driver.close()

# End Of The Document