# Q1.Data Analysts in Banglore

In [1]:
#Importing required Analysis
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
import time

In [2]:
#webdriver address
driver=webdriver.Chrome(r"C:/Users/THIS PC/Downloads/chromedriver_win32/chromedriver.exe")

In [3]:
#url of the website which needs to be scrapped
driver.get("https://www.naukri.com/")

In [4]:
#giving input as data analyst and loation as banglore

job_search_bar=driver.find_element_by_id("qsb-keyword-sugg")
job_search_bar.clear()
job_search_bar.send_keys("Data Analysts")


loc_search_bar=driver.find_element_by_id("qsb-location-sugg")
loc_search_bar.clear()
loc_search_bar.send_keys("Banglore")

In [5]:
#Search button
search_button=driver.find_element_by_xpath('//div[@class="topSection"]/section/div/form/div[3]/button')
search_button.click()

In [6]:
time.sleep(10)

In [7]:
#Creating empty lists
Job_Title=[]
Job_Location=[]
Company_Name=[]
Experience_required=[]

In [8]:
#Extracting the title of the job
try:
    Job=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
    for j in Job[0:10]:
        Job_Title.append(j.text)
        
except NoSuchElementException:
        Job_Title.append("Not Available")

In [9]:
#Extracting the Company name        
try:
    name=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
    for j in name[0:10]:
        Company_Name.append(j.text)
        
except NoSuchElementException:
        Company_Name.append("Not Available")

In [10]:
#Extracting the Location of the job       
try:
    Jobloc=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
    for j in Jobloc[0:10]:
        Job_Location.append(j.text)
        
except NoSuchElementException:
        Job_Location.append("Not Availble")

In [11]:
#Extracting the experience required        
try:
    exp=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
    for j in exp[0:10]:
        Experience_required.append(j.text)
except NoSuchElementException:
        Experience_required.append("Not available")

In [12]:
#Preparing list of the columns
data=list(zip(Job_Title,Company_Name,Job_Location,Experience_required))

In [13]:
#Creating the data frame
df=pd.DataFrame(data,columns=["Job_Title","Company_Name","Job_Location","Experience_required"])

In [14]:
#Importing numpy to set starting index from 1
import numpy as np
df.index = np.arange(1, len(df) + 1)

In [15]:
#The dataframe
df

,Job_Title,Company_Name,Job_Location,Experience_required
1,Data Analyst,IBM India Pvt. Limited,Bengaluru,4-6 Yrs
2,Data Analyst - Consumer Analytics,Eli Lilly Services India Private Limited,Bengaluru,2-4 Yrs
3,Data Analyst - Consumer Analytics,Eli Lilly Services India Private Limited,Bengaluru,2-4 Yrs
4,Big Data Analysis Tool and Techniques Applicat...,Accenture Solutions Pvt Ltd,Bengaluru,6-8 Yrs
5,Data Analyst,Servian,Bengaluru,1-6 Yrs
6,Sr Data Analyst - Contractual Role | Nike,ANSR GLOBAL CORPORATION PRIVATE LIMITED,Bengaluru,5-8 Yrs
7,Mindree Hiring-DATA Analysis,Mindtree Limited,Bengaluru,5-9 Yrs
8,Data Analyst,"Liventus, Inc.",Bengaluru(2nd Phase JP Nagar),3-6 Yrs
9,Data Analyst (Gameplay),Kwalee ltd.,Bengaluru,2-7 Yrs
10,Data Analyst,Kwalee ltd.,Bengaluru,2-7 Yrs

In [16]:
driver.close()

# Q2. Data Scientists in Banglore

In [17]:
#webdriver address
driver=webdriver.Chrome(r"C:/Users/THIS PC/Downloads/chromedriver_win32/chromedriver.exe")

In [18]:
#url of the website which needs to be scrapped
driver.get("https://www.naukri.com/")

In [19]:
#giving input as data scientist and loation as banglore

job_search_bar=driver.find_element_by_id("qsb-keyword-sugg")
job_search_bar.clear()
job_search_bar.send_keys("Data Scientist")


loc_search_bar=driver.find_element_by_id("qsb-location-sugg")
loc_search_bar.clear()
loc_search_bar.send_keys("Banglore")

In [20]:
#Search button
search_button=driver.find_element_by_xpath('//div[@class="topSection"]/section/div/form/div[3]/button')
search_button.click()

In [21]:
time.sleep(10)

In [22]:
#Creating empty lists
Job_Title=[]
Job_Location=[]
Company_Name=[]
Experience_required=[]

In [23]:
#Extracting the title of the job
try:
    Job=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
    for j in Job[0:10]:
        Job_Title.append(j.text)
        
except NoSuchElementException:
        Job_Title.append("Not Available")

In [24]:
#Extracting the Company name        
try:
    name=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
    for j in name[0:10]:
        Company_Name.append(j.text)
        
except NoSuchElementException:
        Company_Name.append("Not Available")

In [25]:
#Extracting the Location of the job       
try:
    Jobloc=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
    for j in Jobloc[0:10]:
        Job_Location.append(j.text)
        
except NoSuchElementException:
        Job_Location.append("Not Availble")

In [26]:
#Extracting the experience required        
try:
    exp=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
    for j in exp[0:10]:
        Experience_required.append(j.text)
except NoSuchElementException:
        Experience_required.append("Not available")

In [27]:
#Preparing list of the columns
data=list(zip(Job_Title,Company_Name,Job_Location,Experience_required))

In [28]:
#Creating the data frame
df=pd.DataFrame(data,columns=["Job_Title","Company_Name","Job_Location","Experience_required"])

In [29]:
#Importing numpy to set starting index from 1
import numpy as np
df.index = np.arange(1, len(df) + 1)

In [30]:
#The dataframe
df

,Job_Title,Company_Name,Job_Location,Experience_required
1,Data Scientist/Data Analyst-immediate,CAIA-Center For Artificial Intelligence & Adva...,"Chennai, Pune, Bengaluru, Hyderabad",0-3 Yrs
2,HCL hiring Data scientist with exp in machine ...,HCL Technologies Limited,Bengaluru,5-10 Yrs
3,Data Scientist -Machine Learning,BLUE YONDER INDIA PRIVATE LIMITED,Bengaluru,4-8 Yrs
4,Principal Data Scientist - Machine/Deep Learni...,Fidius advisory,Bengaluru,8-13 Yrs
5,Senior / Lead Data Scientist,TVS CREDIT SERVICES LIMITED,"Chennai, Pune, Bengaluru",3-8 Yrs
6,Data Scientist - Machine Learning (Commerce BU),BLUE YONDER INDIA PRIVATE LIMITED,Bengaluru,4-6 Yrs
7,Software Developer - Data Scientist / NLP / Ma...,Cunesoft India Private Limited,Bengaluru / Bangalore,3-6 Yrs
8,Data Scientist,Mailkit Private Limited,"Chennai, Bhubaneshwar, Pune, Delhi NCR, Mumbai...",4-9 Yrs
9,Lead Data Scientist - Complete Remote Work,Techolution India Private Limited,"Chennai, Pune, Delhi NCR, Mumbai, Bengaluru, H...",9-14 Yrs
10,Data Scientist,IBM India Pvt. Limited,Bengaluru,6-8 Yrs

In [31]:
driver.close()

# Q3.Data Scientist in Delhi

In [32]:
#webdriver address
driver=webdriver.Chrome(r"C:/Users/THIS PC/Downloads/chromedriver_win32/chromedriver.exe")

In [33]:
#url of the website which needs to be scrapped
url="https://www.naukri.com/"

In [34]:
driver.get(url)

In [35]:
#giving input as data scientist and loation as banglore

job_search_bar=driver.find_element_by_id("qsb-keyword-sugg")
job_search_bar.clear()
job_search_bar.send_keys("Data Scientist")

In [36]:
#Search button
search_button=driver.find_element_by_xpath('//div[@class="topSection"]/section/div/form/div[3]/button')
search_button.click()

In [37]:
time.sleep(10)

In [38]:
# Location Filter 
loc_filter=driver.find_elements_by_xpath('//span[@class="ellipsis fleft"]')
for i in loc_filter:
    if i.text=='Delhi/NCR':
        i.click()
        break

In [39]:
#Explicit delay
time.sleep(10)

In [40]:
#Salary filter
sal_filter=driver.find_elements_by_xpath('//span[@class="ellipsis fleft"]')
for i in sal_filter:
    if i.text=="3-6 Lakhs":
        i.click()
        break

In [41]:
time.sleep(10)

In [42]:
#Creating empty lists
Job_Title=[]
Job_Location=[]
Company_Name=[]
Experience_required=[]

In [43]:
#Extracting the title of the job
try:
    Job=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
    for j in Job[0:10]:
        Job_Title.append(j.text)
        
except NoSuchElementException:
        Job_Title.append("Not Available")

In [44]:
#Extracting the Location of the job       
try:
    Jobloc=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
    for j in Jobloc[0:10]:
        Job_Location.append(j.text)
        
except NoSuchElementException:
        Job_Location.append("Not Availble")

In [45]:
#Extracting the Company name        
try:
    name=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
    for j in name[0:10]:
        Company_Name.append(j.text)
        
except NoSuchElementException:
        Company_Name.append("Not Available")

In [46]:
#Extracting the experience required        
try:
    exp=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
    for j in exp[0:10]:
        Experience_required.append(j.text)
except NoSuchElementException:
        Experience_required.append("Not available")

In [47]:
#Preparing list of the columns
data=list(zip(Job_Title,Company_Name,Job_Location,Experience_required))

In [48]:
#Creating the data frame
df=pd.DataFrame(data,columns=["Job_Title","Company_Name","Job_Location","Experience_required"])

In [49]:
#Importing numpy to set starting index from 1
import numpy as np
df.index = np.arange(1, len(df) + 1)

In [50]:
#The dataframe
df

,Job_Title,Company_Name,Job_Location,Experience_required
1,Data Scientist,Country Veggie,"Ghaziabad, Bhopal, Lucknow, Kanpur, Rajkot, Be...",1-3 Yrs
2,Data Scientist,Amity University,"Faridabad, Delhi NCR, Ghaziabad",6-8 Yrs
3,Senior Data Scientist - Computer Vision,IRIS SOFTWARE Inc,Delhi NCR,4-9 Yrs
4,Data Scientist - Machine Learning/ NLP,TalPro,Gurgaon Gurugram,2-6 Yrs
5,Data Scientist,PEOPLE STAFFING SOLUTIONS,"Pune, Bengaluru, Hyderabad, Gurgaon",3-6 Yrs
6,Data Scientist - Tableau/Power BI,Talent Stock Solutions,Delhi,1-3 Yrs
7,GCP Skilled Analytics Resources (Data engineer...,Aerial Telecom Solutions Pvt. Ltd.,"Pune, Bengaluru, Gurgaon",3-8 Yrs
8,Data Scientist - Python/Machine Learning,Jubna,Noida,5-8 Yrs
9,Data Scientist - IT,Ehireo,Gurgaon,4-9 Yrs
10,Data Scientist,IBM India Pvt. Limited,Gurgaon Gurugram,3-5 Yrs

In [51]:
driver.close()

# Q4 Data Scientists in Noida

In [52]:
#webdriver address
driver=webdriver.Chrome(r"C:/Users/THIS PC/Downloads/chromedriver_win32/chromedriver.exe")

In [53]:
#webdriver address
url="https://www.glassdoor.co.in/Job/index.htm"

In [54]:
driver.get(url)

In [55]:
#giving input as data scientist and loation as noida

job_search_bar=driver.find_element_by_id("KeywordSearch")
job_search_bar.clear()
job_search_bar.send_keys("Data Scientist")

In [56]:
loc_search_bar=driver.find_element_by_id("LocationSearch")
loc_search_bar.clear()

In [57]:
loc_search_bar.send_keys("Noida")

In [58]:
#Search button
search_button=driver.find_element_by_id('HeroSearchButton')
search_button.click()

In [59]:
time.sleep(10)

In [60]:
#Creating empty lists

Company_Name=[]
Posted_Day=[]
Rating=[]

In [61]:
#Extracting the Company name        
try:
    name=driver.find_elements_by_xpath('//div[@class="d-flex justify-content-between align-items-start"]/a/span')
    for j in name[0:10]:
        Company_Name.append(j.text)
        
except NoSuchElementException:
        Company_Name.append("Not Available")

In [62]:
#Extracting the posted day required        
try:
    day=driver.find_elements_by_xpath('//div[@class="d-flex align-items-end pl-std css-mi55ob"]')
    for j in day[0:10]:
        Posted_Day.append(j.text)
except NoSuchElementException:
        Posted_Day.append("Not available")

In [63]:
#Extracting rating
try:
    rat=driver.find_elements_by_xpath('//div[@class="d-flex flex-column css-x75kgh e1rrn5ka3"]/span')
    for j in rat[0:10]:
        Rating.append(j.text)
except NoSuchElementException:
        Rating.append("Not available")

In [64]:
#Preparing list of the columns
data=list(zip(Company_Name,Posted_Day,Rating))

In [65]:
#Creating the data frame
df=pd.DataFrame(data,columns=["Company_Name","Posted_Day","Rating"])

In [66]:
#Importing numpy to set starting index from 1
import numpy as np
df.index = np.arange(1, len(df) + 1)

In [67]:
#The dataframe
df

                              Company_Name Posted_Day Rating
1                       Ericsson-Worldwide         2d    4.0
2                                BlackRock         6d    4.1
3                          abc consultants        19d    4.2
4                                 Brickred         9d    3.7
5                                  WishFin         1d    4.0
6                           Biz2Credit Inc        27d    3.7
7   Terra Economics & Analytics Lab (TEAL)        20d    4.9
8                                 xtLytics         5d    3.0
9                     Gauge Data Solutions        18d    3.1
10                         Priority Vendor        18d    3.7

In [68]:
driver.close()

# Q5.Salary data for Data Scientist designation in Noida location.

In [69]:
#webdriver address
driver=webdriver.Chrome(r"C:/Users/THIS PC/Downloads/chromedriver_win32/chromedriver.exe")

In [70]:
#webdriver address
url="https://www.glassdoor.co.in/Salaries/index.htm"

In [71]:
driver.get(url)

In [72]:
#giving input as data scientist and loation as noida

job_search_bar=driver.find_element_by_id("KeywordSearch")
job_search_bar.clear()
job_search_bar.send_keys("Data Scientist")

In [73]:
loc_search_bar=driver.find_element_by_id("LocationSearch")
loc_search_bar.clear()
loc_search_bar.send_keys("Noida")

In [74]:
#Search button
search_button=driver.find_element_by_id('HeroSearchButton')
search_button.click()

In [75]:
time.sleep(10)

In [76]:
#Creating empty lists

Company_Name=[]
Number_of_salaries=[]
Average_salary=[]
Min_salary=[]
Max_salary=[]

In [77]:
#Extracting the Company name
try:
    com=driver.find_elements_by_xpath('//p[@class="m-0 "]')
    for j in com[0:10]:
        Company_Name.append(j.text)
except NoSuchElementException:
        Company_Name.append("Not available")

In [78]:
#Extracting the number of salaries required        
try:
    nos=driver.find_elements_by_xpath('//p[@class="css-1uyte9r css-1kuy7z7 m-0 "]')
    for j in nos[0:10]:
        Number_of_salaries.append(j.text)
except NoSuchElementException:
        Number_of_salaries.append("Not available")

In [79]:
#Extracting average salary
try:
    avg=driver.find_elements_by_xpath('//div[@class="col-2 d-none d-md-flex flex-row justify-content-end"]')
    for j in avg[0:10]:
        Average_salary.append(j.text)
except NoSuchElementException:
        Average_salary.append("Not available")

In [80]:
#Extracting minimum salary
try:
    mini=driver.find_elements_by_xpath('//div[@class="common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container "]/span[1]')
    for j in mini[0:10]:
        Min_salary.append(j.text)
except NoSuchElementException:
        Min_salary.append("Not available")

In [81]:
#Extracting maximum salary
try:
    maxi=driver.find_elements_by_xpath('//div[@class="common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container "]/span[2]')
    for j in maxi[0:10]:
        Max_salary.append(j.text)
except NoSuchElementException:
        Max_salary.append("Not available")

In [82]:
#Preparing list of the columns
data=list(zip(Company_Name,Number_of_salaries,Average_salary,Min_salary,Max_salary))

In [83]:
#Creating the data frame
df=pd.DataFrame(data,columns=["Company_name","Number_of_salaries","Average_salary","Min_salary","Max_salary"])

In [84]:
#Importing numpy to set starting index from 1
import numpy as np
df.index = np.arange(1, len(df) + 1)

In [85]:
#The dataframe
df

,Company_name,Number_of_salaries,Average_salary,Min_salary,Max_salary
1,Delhivery,13 salaries,"₹ 12,81,419\n/yr",₹456K,"₹11,789K"
2,Ericsson-Worldwide,11 salaries,"₹ 7,52,052\n/yr",₹420K,"₹1,636K"
3,Accenture,10 salaries,"₹ 9,98,925\n/yr",₹585K,"₹2,200K"
4,Tata Consultancy Services,9 salaries,"₹ 6,02,000\n/yr",₹336K,"₹1,024K"
5,IBM,9 salaries,"₹ 7,71,657\n/yr",₹595K,"₹2,769K"
6,UnitedHealth Group,9 salaries,"₹ 13,55,346\n/yr",₹727K,"₹1,597K"
7,Valiance Solutions,8 salaries,"₹ 7,91,015\n/yr",₹509K,"₹1,168K"
8,Innovaccer,7 salaries,"₹ 12,15,138\n/yr",₹629K,"₹1,719K"
9,Cognizant Technology Solutions,6 salaries,"₹ 10,21,889\n/yr",₹804K,"₹1,281K"
10,ZS Associates,5 salaries,"₹ 10,00,000\n/yr",₹205K,"₹1,835K"

In [86]:
driver.close()

# Q6.100 Sunglasses-flipkart

In [87]:
from selenium.webdriver import ActionChains
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By

In [88]:
#webdriver address
driver=webdriver.Chrome(r"C:/Users/THIS PC/Downloads/chromedriver_win32/chromedriver.exe")

In [89]:
#url of the website which needs to be scrapped
url="https://www.flipkart.com/"

In [90]:
driver.get(url)

In [91]:
#giving input as sunglasses

prod_search_bar=driver.find_element_by_xpath('//div[@class="_3OO5Xc"]/input')
prod_search_bar.clear()
prod_search_bar.send_keys("sunglasses")

In [92]:
#Closing the pop up window
close_button=driver.find_element_by_xpath('//button[@class="_2KpZ6l _2doB4z"]')
close_button.click()

In [93]:
#Search button
search_button=driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')
search_button.click()

In [94]:
time.sleep(10)

In [95]:
#Creating empty lists
Brand=[]
Product_description=[]
Price=[]
Discount=[]
URL=[]

In [96]:
for i in range(1,4):
    
    #Extracting the brand
    brand=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
    for i in brand[0:101]:
        Brand.append(i.text)
        
     #Extracting product description
    prod=driver.find_elements_by_xpath('//div[@class="_2B099V"]/a[1]')
    for i in prod[0:101]:
        Product_description.append(i.text)   
    
    #Extracting price
    price=driver.find_elements_by_xpath('//div[@class="_2B099V"]/a[2]/div/div[1]')
    for i in price[0:101]:
        Price.append(i.text)
        
        
    #Extracting discount
    dis=driver.find_elements_by_xpath('//div[@class="_2B099V"]/a[2]/div/div[3]')
    for i in dis[0:101]:    
        Discount.append(i.text)
        
    driver.find_element_by_xpath('//a[@class="_1LKTO3"]').click()
    time.sleep(3)

In [97]:
#Preparing list of the columns
data=list(zip(Brand,Product_description,Price,Discount))

In [98]:
#Creating the data frame
df=pd.DataFrame(data,columns=["Brand","Product_description","Price","Discount"])

In [99]:
#Importing numpy to set starting index from 1
import numpy as np
df.index = np.arange(1, len(df) + 1)

In [100]:
#The dataframe
df

,Brand,Product_description,Price,Discount
1,David Martin,"Gradient, UV Protection Aviator Sunglasses (58)",₹210,80% off
2,David Martin,"Gradient, UV Protection Aviator Sunglasses (Fr...",₹335,76% off
3,Phenomenal,"UV Protection, Mirrored Retro Square Sunglasse...",₹379,81% off
4,shah collections,"UV Protection, Polarized, Mirrored Rectangular...",₹239,76% off
5,like future,Mirrored Aviator Sunglasses (Free Size),₹181,83% off
...,...,...,...,...
116,I Flash,"Gradient, UV Protection Round Sunglasses (Free...",₹123,87% off
117,Phenomenal,"UV Protection, Mirrored Retro Square Sunglasse...",₹399,80% off
118,funglasses,"UV Protection, Night Vision, Riding Glasses Ro...",₹125,83% off
119,Winsome,UV Protection Round Sunglasses (54),₹180,81% off
120,Gansta,UV Protection Aviator Sunglasses (57),₹284,85% off

In [101]:
driver.close()

# Q7.IPHONE 11 Reviews

In [102]:
#webdriver address
driver=webdriver.Chrome(r"C:/Users/THIS PC/Downloads/chromedriver_win32/chromedriver.exe")

In [103]:
#url of the website which needs to be scrapped
url="https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3QP11A&marketplace=FLIPKART"

In [104]:
driver.get(url)

In [105]:
#Creating empty lists
Rating=[]
Review_summary=[]
Full_review=[]

In [106]:
for i in range(1,11):
    #Extracting the rating
    rating=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
    for j in rating:
        Rating.append(j.text)
        
    #Extracting the review summary    
    review=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
    for j in review:
        Review_summary.append(j.text)
    
    #Extracting the Full review
    flrvw=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
    for j in flrvw:
        Full_review.append(j.text)
        
     #Code for moving into next page   
    driver.find_element_by_xpath('//a[@class="_1LKTO3"]').click()
    time.sleep(3)

In [107]:
#List of columns
data=list(zip(Rating,Review_summary,Full_review))

In [108]:
#Creating dataframe
df=pd.DataFrame(data,columns=["Rating","Review_summary","Full_review"])

In [109]:
#Importing numpy to set starting index from 1
import numpy as np
df.index = np.arange(1, len(df) + 1)

In [110]:
df

,Rating,Review_summary,Full_review
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
3,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
4,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
5,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
...,...,...,...
96,5,Wonderful,This is my first ever I phone. Before this I w...
97,5,Great product,Well you all know the specifications . One of ...
98,5,Highly recommended,It's my first time to use iOS phone and I am l...
99,5,Mind-blowing purchase,"Best Quality Product OF iPhone Series , Sound ..."
100,5,Terrific purchase,The built quality is not very premium.\nThe ba...

In [111]:
driver.close()

# Q8.Sneakers-Flipkart

In [112]:
#webdriver address
driver=webdriver.Chrome(r"C:/Users/THIS PC/Downloads/chromedriver_win32/chromedriver.exe")

In [113]:
#url of the website which needs to be scrapped
url="https://www.flipkart.com/"

In [114]:
driver.get(url)

In [115]:
#giving input as sneakers

prod_search_bar=driver.find_element_by_xpath('//div[@class="_3OO5Xc"]/input')
prod_search_bar.clear()
prod_search_bar.send_keys("sneakers")

In [116]:
#closing the pop up window
close_button=driver.find_element_by_xpath('//button[@class="_2KpZ6l _2doB4z"]')
close_button.click()

In [117]:
#Search button
search_button=driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')
search_button.click()

In [118]:
time.sleep(10)

In [119]:
#Creating empty lists
Brand=[]
Product_description=[]
Price=[]
Discount=[]

In [120]:
for i in range(1,4):
    
    #Extracting the brand
    brand=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
    for i in brand[0:101]:
        Brand.append(i.text)
        
     #Extracting product description
    prod=driver.find_elements_by_xpath('//div[@class="_2B099V"]/a[1]')
    for i in prod[0:101]:
        Product_description.append(i.text)   
    
    #Extracting price
    price=driver.find_elements_by_xpath('//div[@class="_2B099V"]/a[2]/div/div[1]')
    for i in price[0:101]:
        Price.append(i.text)
        
        
    #Extracting discount
    dis=driver.find_elements_by_xpath('//div[@class="_2B099V"]/a[2]/div/div[3]')
    for i in dis[0:101]:    
        Discount.append(i.text)
        
    driver.find_element_by_xpath('//a[@class="_1LKTO3"]').click()
    time.sleep(3)

In [121]:
#Preparing list of the columns
data=list(zip(Brand,Product_description,Price,Discount))

In [122]:
#Creating the data frame
df=pd.DataFrame(data,columns=["Brand","Product_description","Price","Discount"])

In [123]:
#Importing numpy to set starting index from 1
import numpy as np
df.index = np.arange(1, len(df) + 1)

In [124]:
df=df[0:100]

In [125]:
df

,Brand,Product_description,Price,Discount
1,India hub,Canvas casual sneaker shoes Sneakers For Men,₹499,83% off
2,Chevit,Chevit Latest Fashion Combo Pack of 2 Pairs Ca...,₹570,61% off
3,Chevit,Combo Pack of 4 Casual Sneakers With Sneakers ...,₹499,75% off
4,Robbie jones,Casual Sneakers Shoes For Men Sneakers For Men,₹378,62% off
5,World Wear Footwear,Combo Pack of 4 Latest Collection Stylish Casu...,₹499,75% off
...,...,...,...,...
96,Red Rose,Sneakers For Men,₹359,64% off
97,Stefano Rads,Classy Sneakers For Men,₹260,70% off
98,Rockfield,Sneakers For Men,₹359,59% off
99,Chevit,Smart Casuals Canvas Shoes Combo pack of 2 Sne...,₹299,62% off
100,believe,casual for men (white 07) Sneakers For Men,₹402,52% off

In [126]:
driver.close()

# Q9.Black Shoes-Myntra

In [127]:
#webdriver address
driver=webdriver.Chrome(r"C:/Users/THIS PC/Downloads/chromedriver_win32/chromedriver.exe")

In [128]:
#url of the website which needs to be scrapped
url="https://www.myntra.com/shoes"

In [129]:
driver.get(url)

In [130]:
# Price Filter 
price_filter=driver.find_elements_by_xpath('//label[@class="common-customCheckbox vertical-filters-label"]')
for i in price_filter:
    if i.text=='Rs. 6649 to Rs. 13099(2257)':
        i.click()
        break

In [131]:
time.sleep(8)

In [132]:
#color filter
col_filter=driver.find_elements_by_xpath('//li[@class="colour-listItem"]')
for i in col_filter:
    if i.text=="Black (20095)":
        i.click()

In [133]:
time.sleep(8)

In [134]:
#Creating empty lists
Brand=[]
Short_description=[]
Price=[]

In [135]:
for i in range(1,3):
    #Extracting the brand
    brand=driver.find_elements_by_xpath('//h3[@class="product-brand"]')
    for j in brand:
        Brand.append(j.text)
        
    #Extracting the short_description    
    desc=driver.find_elements_by_xpath('//h4[@class="product-product"]')
    for j in desc:
        Short_description.append(j.text)
    
    #Extracting the price
    try:
        price=driver.find_elements_by_xpath('//div[@class="product-price"]/span/span[1]')
        for j in price:
            Price.append(j.text)
            
    except NoSuvhElementException:
        Price.append("Not Available")
        
     #Code for moving into next page   
    driver.find_element_by_xpath('//li[@class="pagination-next"]').click()
    time.sleep(3)

In [136]:
#List of columns
data=list(zip(Brand,Short_description,Price))

In [137]:
#Creating dataframe
df=pd.DataFrame(data,columns=["Brand","Short_desription","Price"])

In [138]:
#Importing numpy to set starting index from 1
import numpy as np
df.index = np.arange(1, len(df) + 1)

In [139]:
df

       Brand           Short_desription     Price
1   AfroJack       Men Slip-On Sneakers   Rs. 699
2    MENGLER          Men Walking Shoes   Rs. 689
3   AfroJack       Men Slip-On Sneakers   Rs. 699
4    Woakers          Men Running Shoes   Rs. 659
5    Mactree         Men Solid Sneakers   Rs. 682
..       ...                        ...       ...
86   SALARIO   Women Woven Design Heels  Rs. 7916
87   ZAPATOZ         Women Heeled Boots   Rs. 997
88   Catwalk        Women One Toe Flats  Rs. 1889
89  Red Tape  Men Leather Driving Shoes  Rs. 2549
90  Roadster       Women Solid Sneakers  Rs. 6153

[90 rows x 3 columns]

# Q10.Amazon

In [140]:
#Webdriver address
driver=webdriver.Chrome(r"C:/Users/THIS PC/Downloads/chromedriver_win32/chromedriver.exe")

In [141]:
driver.get('https://www.amazon.in')

In [142]:
#creating the empty list
Title=[]
Ratings=[]
price=[]

In [143]:
#Giving input as laptops
search_bar = driver.find_element_by_id("twotabsearchtextbox")
search_bar.clear()                                              
search_bar.send_keys("laptops")

In [144]:
#Seach for laptops
search_button = driver.find_element_by_xpath('//span[@id="nav-search-submit-text"]')       
search_button.click()

In [145]:
time.sleep(10)

In [146]:
#locating the core i7 filter
filter_button=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for i in filter_button:
    if i.text=='Intel Core i7':
        i.click()
        break

In [147]:
time.sleep(5)

In [148]:
#locating the core i9 filter
filter_button=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for i in filter_button:
    if i.text=='Intel Core i9':
        i.click()
        break

In [149]:
time.sleep(5)

In [150]:
#Scrapping Titles
titles=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
for i in titles[:10]:
    Title.append(i.text)

In [151]:
#scrapping Price
prices=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
for i in prices[:10]:
    price.append(i.text)

In [153]:
#locating Ratings
UR=[]
urls=driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")
for i in urls[0:10]:
    UR.append(i.get_attribute('href'))
for url in UR:
    driver.get(url)
    try:                  
        rate=driver.find_element_by_xpath("//span[@id='acrCustomerReviewText']")
        rate.click()                                                      
        rating=driver.find_element_by_xpath("//span[@class='a-size-medium a-color-base']")
        Ratings.append(rating.text)
        
    except NoSuchElementException :
        Ratings.append("NO rating")

In [154]:
data=list(zip(Title,price,Ratings))

In [155]:
df=pd.DataFrame(data,columns=["Title","price","Ratings"])

In [156]:
df

                                               Title   price       Ratings
0  (Renewed) Dell INS 5482 (CORE i7-8550U/8GB/256...  57,990     NO rating
1  (Renewed) Dell Latitude 7389 13.3 inch 2-in-1 ...  59,990  2.9 out of 5
2  (Renewed) Dell Latitude E5570 15-inch FHD-Touc...  64,499     NO rating
3  (Renewed) Dell Latitude E6420 14 Inch Laptop (...  35,000     NO rating
4  (Renewed) Dell Latitude E6420 14 Inch Laptop (...  35,000     NO rating
5  (Renewed) Dell Latitude E6420 14 Inch Laptop (...  37,000     NO rating
6  (Renewed) Dell Latitude E7470 14-inch Laptop (...  55,299     NO rating
7  (Renewed) DELL Gaming-G3 3590 15.6-inch Laptop...  89,990     NO rating
8  Lenovo IdeaPad Gaming 3i 10th Gen Intel Core i...  74,990  3.8 out of 5
9  Mi Notebook Horizon Edition 14 Intel Core i7-1...  59,999  4.2 out of 5

# END OF DOCUMENT